In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [77]:
df = pd.read_csv('OnlineRetail.csv', encoding = 'latin1')

In [79]:
df.shape

(541909, 8)

In [81]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [83]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [85]:
df['InvoiceNo'].nunique()

25900

In [87]:
df[df['Description'] == 'PARTY BUNTING']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
5535,536864,47566,PARTY BUNTING,1,12/3/2010 11:27,9.32,NaN,United Kingdom
5656,536865,47566,PARTY BUNTING,3,12/3/2010 11:28,9.32,NaN,United Kingdom
6022,536876,47566,PARTY BUNTING,2,12/3/2010 11:36,8.47,NaN,United Kingdom
6572,536956,47566,PARTY BUNTING,5,12/3/2010 12:43,4.65,14210.0,United Kingdom
7904,537065,47566,PARTY BUNTING,5,12/5/2010 11:57,4.65,12567.0,France
...,...,...,...,...,...,...,...,...
537784,581345,47566,PARTY BUNTING,5,12/8/2011 12:15,4.95,17315.0,United Kingdom
538825,581417,47566,PARTY BUNTING,8,12/8/2011 15:01,4.95,13013.0,United Kingdom
539027,581426,47566,PARTY BUNTING,1,12/8/2011 15:31,4.95,17757.0,United Kingdom
540534,581492,47566,PARTY BUNTING,2,12/9/2011 10:03,10.79,NaN,United Kingdom
541318,581497,47566,PARTY BUNTING,5,12/9/2011 10:23,10.79,NaN,United Kingdom

In [89]:
df1 = df[df['Description'] == 'PARTY BUNTING']

In [91]:
df1['CustomerID'].nunique()

708

In [93]:
df[df['Description'] == 'WHITE HANGING HEART T-LIGHT HOLDER'].shape

(2369, 8)

In [95]:
df[df['Description'] == 'WHITE HANGING HEART T-LIGHT HOLDER']['CustomerID'].nunique()

858

In [97]:
df2 = df[df['Country'] == 'United Kingdom']

In [99]:
df2.shape

(495478, 8)

In [101]:
df2.nunique() #incorrect options in question 4

InvoiceNo      23494
StockCode       4065
Description     4202
Quantity         715
InvoiceDate    21220
UnitPrice       1574
CustomerID      3950
Country            1
dtype: int64

In [103]:
df.nunique()

InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

In [105]:
df.shape

(541909, 8)

In [107]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [115]:
df['CustomerID'].value_counts() #incorrect options in question 5

CustomerID
17841.0    7983
14911.0    5903
14096.0    5128
12748.0    4642
14606.0    2782
           ...
15070.0       1
15753.0       1
17065.0       1
16881.0       1
16995.0       1
Name: count, Length: 4372, dtype: int64

In [117]:
df['Amt'] = df['Quantity'] * df['UnitPrice']

In [121]:
df[df['Amt'] == df['Amt'].max()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Amt
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,12/9/2011 9:15,2.08,16446.0,United Kingdom,168469.6

In [123]:
df['Amt'].max()

168469.6

In [126]:
df['Amt'].mean()

17.98779487699964

In [129]:
df['Description'].value_counts()

Description
WHITE HANGING HEART T-LIGHT HOLDER     2369
REGENCY CAKESTAND 3 TIER               2200
JUMBO BAG RED RETROSPOT                2159
PARTY BUNTING                          1727
LUNCH BAG RED RETROSPOT                1638
                                       ...
Missing                                   1
historic computer difference?....se       1
DUSTY PINK CHRISTMAS TREE 30CM            1
WRAP BLUE RUSSIAN FOLKART                 1
PINK BERTIE MOBILE PHONE CHARM            1
Name: count, Length: 4223, dtype: int64

In [132]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'Amt'],
      dtype='object')

In [140]:
df3 = df['Description'].value_counts()

In [150]:
df3 = df.groupby('Description')['Amt'].sum()

In [174]:
df3 = df.groupby('Description')['Quantity'].sum()

In [180]:
df3

-19200