Programming Language - medium of communication with the machines.
Eg. python,c++,java,R etc

Python is user friendly

Python interpreter - error debugging

Python is having in built libraries and function

Python is having oops.(structure to the code)

Python is case sensitive and space sensitive.

In [ ]:
print(123) #display the message to the user

123

In [ ]:
print('Poonam Shah') #alphabet or symbol

Poonam Shah

In [ ]:
#comment - text written for some reference or explanation -->single line

In [ ]:
input("Name :") #take input from user

Name :poonM

'poonM'

In [ ]:
input('Enter email id :')
input('Enter Password :')

Enter email id :yu
Enter Password :67

'67'

Variables - entities whose values are not fixed

In [ ]:
a = 10

In [ ]:
print(a)

10

In [ ]:
n = 'Poonam'

In [ ]:
print(n)

Poonam

In [ ]:
print(a)

10

In [ ]:
a = 'Sanjana' #variable overriding

In [ ]:
print(a)

Sanjana

variables are case sensitive

In [ ]:
x = 100
X = 'tree'
print(x,X)

100 tree

Variables should not be method names and reserved keywords

In [ ]:
# print = 56
# print(print)

Variables names should not start with numbers or symbols

In [ ]:
1a = 90

SyntaxError: invalid decimal literal (<ipython-input-22-c02455ba84df>, line 1)

In [ ]:
a1 = 90

Variable names should not have space in them

In [ ]:
student name = 'kartik'

SyntaxError: invalid syntax (<ipython-input-24-728d9d9ef5e3>, line 1)

In [ ]:
student_name = 'kartik'

Data type =
in

In [ ]:
i = 70
type(i)

int

In [ ]:
u = 56.7
type(u)

float

In [ ]:
g = -67
type(g)

int

In [ ]:
h = -23.1
type(h)

float

In [ ]:
t = 'cat'
type(t)

str

In [ ]:
k = '89'
type(k)
print(k)

89

In [ ]:
q = '5r37t2ey8^*&%&%&'
type(q)

str

In [ ]:
b = True
type(b)

bool

Type casting - converting 1 datatype into another

In [ ]:
num = 45
F = float(num)
print(num,F)

45 45.0

In [ ]:
print(F)

45.0

In [ ]:
n = str(F)
print(n)
type(n)

45.0

str

In [ ]:
a = 'cat'
int(a)

ValueError: invalid literal for int() with base 10: 'cat'

In [ ]:
i = '90'
float(i)

90.0

In [ ]:
#Q1. y = 789 --> float ---> string output = 789.0

y = 789
z = float(y)
print(z)

789.0

In [ ]:
w = str(z)
print(w)
type(w)

789.0

str

In [ ]:
w,z

('789.0', 789.0)

Operators
1. Arithematic - +,-,*,/,%,**,//
2. Assignment op -- =,+=,-=,*=,/=,%=,**=,//=
3. Comparision op - <,>,<=,>=,!=,==
4. Logical - and, or, not

In [ ]:
a = 10
b = 5
print('Addition :',a+b)
print('Subtraction :',a-b)
print('Multiplication :',a*b)
print('Division :',a/b) #by default always you will get float result
print('Modulus :',a%b) #remainder of division
print('Exponent :',a**b) #a^b
print('Floor Division :',a//b)

Addition : 15
Subtraction : 5
Multiplication : 50
Division : 2.0
Modulus : 0
Exponent : 100000
Floor Division : 2

In [ ]:
100/3

33.333333333333336

In [ ]:
100//3 #floor division

33

In [ ]:
a = 10
print(a)
a+=5 #operating on a and assigning the result to the same variable
print(a)

10
15

In [ ]:
m = 50
m-=30 #m = m-30
m

20

In [ ]:
a = 100
a%=3
a

1

In [ ]:
num1 = 45
num2 = 67

In [ ]:
num1>num2

False

In [ ]:
num1 == num2

False

In [ ]:
num1 != num2

True

In [ ]:
num1 = 45
num2 = 67

In [ ]:
num1 < num2 and num1 != num2 #all comparisions should be True

True

In [ ]:
num1 > num2 and num1 != num2

False

In [ ]:
num1 > num2 or num1 != num2 or num1 == num2 #at least 1 comparision should be True

True

In [ ]:
#not - reverse the result
num1 == num2

False

In [ ]:
not(num1 == num2)

True

Strings are immutable

In [ ]:
a = 'Hello World'

In [ ]:
a.lower()

'hello world'

In [ ]:
a

'Hello World'

In [ ]:
a.upper()

'HELLO WORLD'

In [ ]:
a.capitalize() #1st letter of the string will be capitalized

'Hello world'

In [ ]:
a.title() #all the initial letters of the words will be capitalized

'Hello World'

In [ ]:
a.replace('o','0')

'Hell0 W0rld'

In [ ]:
a.replace(' ','')

'HelloWorld'

In [ ]:
f = '   hey everyone   ' #whitespaces
len(f)

18

In [ ]:
f.strip()

'hey everyone'

In [ ]:
f.lstrip() #removing whitespaces from left side(start)

'hey everyone   '

In [ ]:
f.rstrip() #removing whitespaces from the right side(end)

'   hey everyone'

In [ ]:
d = 'hey,my,name,is,poonam'
d.split('m')

['hey,', 'y,na', 'e,is,poona', '']

Sequential Datatype - multiple items using a single variable

In [ ]:
#list [] -
grocery = ['rice','sugar','salt','oil','wheat','soap','detergent']

In [ ]:
grocery[2:5] #start :stop = endIndex + 1

['salt', 'oil', 'wheat']

In [ ]:
grocery[0:4]

['rice', 'sugar', 'salt', 'oil']

In [ ]:
grocery[:] #by default takes the start(0) and stop(n+1) indexes

['rice', 'sugar', 'salt', 'oil', 'wheat', 'soap', 'detergent']

In [ ]:
grocery[::2] #start:stop:step

['rice', 'salt', 'wheat', 'detergent']

In [ ]:
grocery[1::2]

['sugar', 'oil', 'soap']

In [ ]:
grocery

['rice', 'sugar', 'salt', 'oil', 'wheat', 'soap', 'detergent']

In [ ]:
grocery[-1]

'detergent'

In [ ]:
grocery[-6:-2]

['sugar', 'salt', 'oil', 'wheat']

In [ ]:
grocery[-3:-7:-1] #reverse a slice

['wheat', 'oil', 'salt', 'sugar']

In [ ]:
grocery[::-1] #start:stop:step --> step is -ve and stop = endIndex - 1

['detergent', 'soap', 'wheat', 'oil', 'salt', 'sugar', 'rice']

In [ ]:
grocery

['rice', 'sugar', 'salt', 'oil', 'wheat', 'soap', 'detergent']

In [ ]:
#lists are mutable,heterogeneous,allow duplicates,ordered

In [ ]:
grocery.append('shampoo') #adds single element to the end of the list

In [ ]:
grocery

['rice', 'sugar', 'salt', 'oil', 'wheat', 'soap', 'detergent', 'shampoo']

In [ ]:
grocery.extend(['oil','eggs','bread']) #adding a list at the end of another list

In [ ]:
print(grocery)

['rice', 'sugar', 'salt', 'oil', 'wheat', 'soap', 'detergent', 'shampoo', 'oil', 'eggs', 'bread']

In [ ]:
grocery.insert(2,'butter')
print(grocery)

['rice', 'sugar', 'butter', 'salt', 'oil', 'wheat', 'soap', 'detergent', 'shampoo', 'oil', 'eggs', 'bread']

In [ ]:
grocery.remove('oil') #removes the item by name and if there is duplicate, 1st encounterd instance will be removed
print(grocery)

['rice', 'sugar', 'butter', 'salt', 'wheat', 'soap', 'detergent', 'shampoo', 'oil', 'eggs', 'bread']

In [ ]:
grocery.pop(9) #as we are giving index no.so what item has been removed will be displyed when we pop it out

'eggs'

In [ ]:
grocery.pop() #by default removes the last element

'bread'

In [ ]:
grocery.sort() #sorts only lists with a single datatype
print(grocery)

['butter', 'detergent', 'oil', 'rice', 'salt', 'shampoo', 'soap', 'sugar', 'wheat']

In [ ]:
grocery.sort(reverse = True)
print(grocery)

['wheat', 'sugar', 'soap', 'shampoo', 'salt', 'rice', 'oil', 'detergent', 'butter']

In [ ]:
k = [1,2,89,32,45,'apple','e','b']
k.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
a = 'pineapple'
sorted(a)

['a', 'e', 'e', 'i', 'l', 'n', 'p', 'p', 'p']

In [ ]:
s = ' today is 22 march'
sorted(s)
s1 = ''.join(sorted(s))
print(s1)

    22aacdhimorsty

In [ ]:
grocery.reverse()

In [ ]:
print(grocery)

['butter', 'detergent', 'oil', 'rice', 'salt', 'shampoo', 'soap', 'sugar', 'wheat']

In [ ]:
grocery.clear() #removes all the items from the list

In [ ]:
grocery

[]

In [ ]:
del grocery

In [ ]:
grocery

NameError: name 'grocery' is not defined

In [ ]:
#Tuples () - immutable,heterogeneous(multiple datatypes),allow duplicates,ordered

In [ ]:
t = (89,56,48,23,'a','b','n')
print(t)

(89, 56, 48, 23, 'a', 'b', 'n')

In [ ]:
t[2]

48

In [ ]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
t.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
t.count(48)

1

In [ ]:
new_tup = (23,12,34,54,28,76,48,90)
l = list(new_tup)
print(l)

[23, 12, 34, 54, 28, 76, 48, 90]

In [ ]:
new_tup

(23, 12, 34, 54, 28, 76, 48, 90)

In [ ]:
l.sort()
l.extend([10,20,30])
l

[12, 23, 28, 34, 48, 54, 76, 90, 10, 20, 30]

In [ ]:
new_tup = tuple(l)
print(new_tup)

(12, 23, 28, 34, 48, 54, 76, 90, 10, 20, 30)

In [ ]:
l.reverse()
print(l)

[30, 20, 10, 90, 76, 54, 48, 34, 28, 23, 12]

In [ ]:
new_tup

(12, 23, 28, 34, 48, 54, 76, 90, 10, 20, 30)

In [ ]:
#non sequential data types
#sets {} - unordered,heterogenous,partially immutable,do not allow duplicates

In [ ]:
l = [4,4,4,4,4,5,5,6,6,7,8,8,4,4,4,3,2,2,2,6,6,7,7]
s = set(l)
print(s)

{2, 3, 4, 5, 6, 7, 8}

In [ ]:
l = list(s)
l

[2, 3, 4, 5, 6, 7, 8]

In [ ]:
S = {'apple','new','hey',23,67,67,67,12,34}
print(S)

{'new', 34, 67, 'apple', 'hey', 23, 12}

In [ ]:
S = {'apple','new','hey',23,67,67,67,12,34}
print(S)

{'new', 34, 67, 'apple', 'hey', 23, 12}

In [ ]:
S[1]

TypeError: 'set' object is not subscriptable

In [ ]:
S.add('house')
print(S)

{'new', 34, 67, 'apple', 'house', 'hey', 23, 12}

In [ ]:
S.add(56.23)
print(S)

{67, 12, 'apple', 23, 34, 'hey', 'new', 'house', 56.23}

In [ ]:
S.remove('new')
print(S)

{67, 12, 'apple', 23, 34, 'hey', 'house', 56.23}

In [ ]:
S.remove('poonam') #sure that element is present inside the set

KeyError: 'poonam'

In [ ]:
S.discard('hey')
print(S)

{67, 12, 'apple', 23, 34, 'house', 56.23}

In [ ]:
S.discard('poonam') #unsure

In [ ]:
S.pop() #removes any random element

67

In [ ]:
S.update({'onion','soap',189})
print(S)

{12, 'apple', 23, 'soap', 34, 'house', 56.23, 189, 'onion'}

In [ ]:
#Dictionary {} - ordered(no index),partially immutable,partially not allow duplicates

In [ ]:
Details = {
    'name' : 'Poonam',
    'empid' : 12345,
    'salary' :60000.00,
    'employed_status' : True,
    'experience' : ['google','amazon','microsoft'],
    'projects' : ('recommendation system','time series analysis','stock prediction'), #tuple
    'transaction' : {'ID327648','ID5703850','ID702840'}, #set
    'address' : {
        'building' : 101,
        'street' : 'xyz',
        'city' : 'Bengaluru',
        'state' : 'Karnataka',
        'country' : 'India'
    }
}

print(Details)

{'name': 'Poonam', 'empid': 12345, 'salary': 60000.0, 'employed_status': True, 'experience': ['google', 'amazon', 'microsoft'], 'projects': ('recommendation system', 'time series analysis', 'stock prediction'), 'transaction': {'ID327648', 'ID702840', 'ID5703850'}, 'address': {'building': 101, 'street': 'xyz', 'city': 'Bengaluru', 'state': 'Karnataka', 'country': 'India'}}

In [ ]:
Details

{'name': 'Poonam',
 'empid': 12345,
 'salary': 60000.0,
 'employed_status': True,
 'experience': ['google', 'amazon', 'microsoft'],
 'projects': ('recommendation system',
  'time series analysis',
  'stock prediction'),
 'transaction': {'ID327648', 'ID5703850', 'ID702840'},
 'address': {'building': 101,
  'street': 'xyz',
  'city': 'Bengaluru',
  'state': 'Karnataka',
  'country': 'India'}}

In [ ]:
Details['name']

'Poonam'

In [ ]:
Details['experience'][1]

'amazon'

In [ ]:
Details['address']['city']

'Bengaluru'

In [ ]:
Details.keys()

dict_keys(['name', 'empid', 'salary', 'employed_status', 'experience', 'projects', 'transaction', 'address'])

In [ ]:
Details['address'].keys()

dict_keys(['building', 'street', 'city', 'state', 'country'])

In [ ]:
Details.values()

dict_values(['Poonam', 12345, 60000.0, True, ['google', 'amazon', 'microsoft'], ('recommendation system', 'time series analysis', 'stock prediction'), {'ID327648', 'ID702840', 'ID5703850'}, {'building': 101, 'street': 'xyz', 'city': 'Bengaluru', 'state': 'Karnataka', 'country': 'India'}])

In [ ]:
Details.items()

dict_items([('name', 'Poonam'), ('empid', 12345), ('salary', 60000.0), ('employed_status', True), ('experience', ['google', 'amazon', 'microsoft']), ('projects', ('recommendation system', 'time series analysis', 'stock prediction')), ('transaction', {'ID327648', 'ID702840', 'ID5703850'}), ('address', {'building': 101, 'street': 'xyz', 'city': 'Bengaluru', 'state': 'Karnataka', 'country': 'India'})])

In [ ]:
Details['Blood group'] ='B+'
Details

{'name': 'Poonam',
 'empid': 12345,
 'salary': 60000.0,
 'employed_status': True,
 'experience': ['google', 'amazon', 'microsoft'],
 'projects': ('recommendation system',
  'time series analysis',
  'stock prediction'),
 'transaction': {'ID327648', 'ID5703850', 'ID702840'},
 'address': {'building': 101,
  'street': 'xyz',
  'city': 'Bengaluru',
  'state': 'Karnataka',
  'country': 'India'},
 'Blood group': 'B+'}

In [ ]:
Details['Blood group'] ='A+' #update a value
Details

{'name': 'Poonam',
 'empid': 12345,
 'salary': 60000.0,
 'employed_status': True,
 'experience': ['google', 'amazon', 'microsoft'],
 'projects': ('recommendation system',
  'time series analysis',
  'stock prediction'),
 'transaction': {'ID327648', 'ID5703850', 'ID702840'},
 'address': {'building': 101,
  'street': 'xyz',
  'city': 'Bengaluru',
  'state': 'Karnataka',
  'country': 'India'},
 'Blood group': 'A+'}

In [ ]:
Details.pop('Blood group')

'A+'

In [ ]:
Details

{'name': 'Poonam',
 'empid': 12345,
 'salary': 60000.0,
 'employed_status': True,
 'experience': ['google', 'amazon', 'microsoft'],
 'projects': ('recommendation system',
  'time series analysis',
  'stock prediction'),
 'transaction': {'ID327648', 'ID5703850', 'ID702840'},
 'address': {'building': 101,
  'street': 'xyz',
  'city': 'Bengaluru',
  'state': 'Karnataka',
  'country': 'India'}}

In [ ]:
Details.update({'Blood group' : 'B+'})
Details

{'name': 'Poonam',
 'empid': 12345,
 'salary': 60000.0,
 'employed_status': True,
 'experience': ['google', 'amazon', 'microsoft'],
 'projects': ('recommendation system',
  'time series analysis',
  'stock prediction'),
 'transaction': {'ID327648', 'ID5703850', 'ID702840'},
 'address': {'building': 101,
  'street': 'xyz',
  'city': 'Bengaluru',
  'state': 'Karnataka',
  'country': 'India'},
 'Blood group': 'B+'}

In [ ]:
Details['address'].update({'Pincode' : 123456})
Details

{'name': 'Poonam',
 'empid': 12345,
 'salary': 60000.0,
 'employed_status': True,
 'experience': ['google', 'amazon', 'microsoft'],
 'projects': ('recommendation system',
  'time series analysis',
  'stock prediction'),
 'transaction': {'ID327648', 'ID5703850', 'ID702840'},
 'address': {'building': 101,
  'street': 'xyz',
  'city': 'Bengaluru',
  'state': 'Karnataka',
  'country': 'India',
  'Pincode': 123456},
 'Blood group': 'B+'}

In [ ]:
#string format -> f-string
a = 10
b = 20
print('The 1st no is',a,'and the 2nd number is',b,'.')

The 1st no is 10 and the 2nd number is 20 .

In [ ]:
print(f'The 1st no is {a} and the 2nd no is {b}.') #fstring

The 1st no is 10 and the 2nd no is 20.

Conditional Statements - if else, nested if else,elif

In [ ]:
age = int(input('Enter your age :'))

if age>=18: #true
  print(f'Your age is {age} so you are eligible for voting.')
else: #false
  print('You are not eligible.')

Enter your age :67
Your age is 67 so you are eligible for voting.

In [ ]:
age = int(input('Enter your age :'))

if age>=18: #true
  print('you are eligible for voting.')
else: #false
  print('You are not eligible.')

Enter your age :34
you are eligible for voting.

Create a list of 5 marks and calculate the % and display the result with %age whether the student is passed or failed

In [ ]:
l = [82,100,23,67,59]
per = sum(l)/len(l)

if per>=50:
  print(f'Your percentage is {per} and you are passed!')
else:
  print(f'Your percentage is {per} and you are failed!')

Your percentage is 66.2 and you are passed!

All the previous conditions must be True to go to the next condition --> nested if-else(multiple conditions)

In [ ]:
status_b = input('Have you completed you bachelors?(y/n) :')
status_b = status_b.lower()

if status_b=='y':
  status_m = input('Have you completed you masters?(y/n) :')
  status_m = status_m.lower()
  if status_m =='y':
    print('You are eligible for the job.')
  else:
    print('You are not eligible for the job.')
else:
  print('Get your Bachelors degree')

Have you completed you bachelors?(y/n) :n
Get your Bachelors degree

In [ ]:
per  = int(input('Enter your 12th percentage :'))

if per>=95:
  print('Admission in college A')
elif per>=90:
  print('Admission in college B')
elif per>=80:
  print('Admission in college C')
else:
  print('Admission in college D')

Enter your 12th percentage :89
Admission in college C

Loops - repetetive tasks done until a condition is met
Eg. instagram/youtube short videos
Types:
1. While - condition
2. For - specific no of iterations

In [ ]:
i = 0

while i<11:
  print(i)
  i+=2

0
2
4
6
8
10

In [ ]:
i = 1
while i<=10:
  print(f'5 x {i} = {5*i}')
  i+=1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
i = 5 #iterator
while i<=50: #condition
  print(i) #code
  i+=5 #incrementation

5
10
15
20
25
30
35
40
45
50

In [ ]:
#range(1,10,2) - generates a sequence of int numbers

l = list(range(1,11)) #start,stop,step

In [ ]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in l:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(0,11,2): #start,stop,step
  print(i)

0
2
4
6
8
10

In [ ]:
for i in range(10,0,-1): #start,stop,step
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(1,11):
  print(f'7 x {i} = {7*i}')

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
for i in range(7,71,7):
  print(i)

7
14
21
28
35
42
49
56
63
70

Functions: reusable block of code

In [ ]:
print('hi') #method()

hi

In [ ]:
def func_name(): #function()
  print('My name is Poonam')

In [ ]:
func_name()

My name is Poonam

In [ ]:
func_name()

My name is Poonam

In [ ]:
def Sum(u,q): #parameters #local scope
 print(u+q)

In [ ]:
Sum(2,4) #arguments

6

In [ ]:
def cal(*num): #args parameter
  print(num)
  mean = sum(num)/len(num)
  return f'The sum is : {sum(num)}, and the mean is {round(mean,3)}'

In [ ]:
cal(12,10,10,20,30,30)

(12, 10, 10, 20, 30, 30)

'The sum is : 112, and the mean is 18.667'

In [ ]:
cal(20,600)

(20, 600)

'The sum is : 620, and the mean is 310.0'

In [ ]:
def age_eli(name,age=18):
  print(name)
  print(age)

In [ ]:
age_eli('Poonam')

Poonam
18

In [ ]:
age_eli('devan',30)

devan
30

In [ ]:
def Num(num1):
  print(num1) #display

In [ ]:
print(Num(2))

2
None

In [ ]:
def Num2(num2):
  return num2 #output

In [ ]:
print(Num2(4))

4

In [ ]:
a= [180,  92, 127, 293, 174, 128, 220, 188,  44, 264, 266, 137, 177,48, 226,  16,  77,  51, 255, 114, 114,  54, 252,  65, 186, 298,288, 237, 157,  68]

array([180,  92, 127, 293, 174, 128, 220, 188,  44, 264, 266, 137, 177,
        48, 226,  16,  77,  51, 255, 114, 114,  54, 252,  65, 186, 298,
       288, 237, 157,  68])

In [ ]:
a

array([180,  92, 127, 293, 174, 128, 220, 188,  44, 264, 266, 137, 177,
        48, 226,  16,  77,  51, 255, 114, 114,  54, 252,  65, 186, 298,
       288, 237, 157,  68])

In [ ]:
#Filter out all the even and odd numbers separately and make a 1 list for each type

Q1. Swap two variables without creating a 3rd variable.

In [ ]:
a = 10
b = 5

a,b = b,a

print(f'A is {a} and B is {b}')

A is 5 and B is 10

Q2. take input of a number and check if it is even or odd.

In [ ]:
num = int(input('Enter a number :'))

if num%2==0:
  print('Even')
else:
  print('Odd')

Enter a number :53
Odd

Q3. Make a list of some random positive numbers and find the greatest and the smallest number from it.

In [ ]:
L = [23,45,36,50,90,78,88,46,10,29,33]
print('Minimium',min(L))
print('Maximum',max(L))

Minimium 10
Maximum 90

Q4. Create a function to check if a number is prime or not?

In [ ]:
def prime_checker(num):
  if num<=1 :
    return 'Not Prime'
  elif num == 2:
    return 'Prime'
  else:
    for i in range(2,num):
      if num%i==0:
        return 'Not Prime'
      else:
        return 'Prime'

In [ ]:
prime_checker(7)

'Prime'

In [ ]:
prime_checker(8)

'Not Prime'

Q5. Create a function to check if a string is palindrome or not

In [ ]:
def Palindrome(st):
  st = st.lower()
  if st == st[::-1]: #start:stop:step
    return 'Palindrome'
  else:
    return 'Not Palindrome'

In [ ]:
Palindrome('eye')

'Palindrome'

In [ ]:
Palindrome('Eye')

'Palindrome'

Q6. Create a function to calculate the factorial of a number

In [ ]:
def Factorial(num):
  fact = 1
  for i in range(1,num+1):
    fact*=i
  return fact

In [ ]:
Factorial(5)

120

Q7. Create a program to display a right angle triangle using '*'

In [ ]:
num = int(input('Enter the no of rows :'))
for i in range(1,num+1):
  print('*' * i)

Enter the no of rows :5
*
**
***
****
*****

Q8. Create a dictionary with alphabets as keys and integers as values and print all the keys with even no.

In [ ]:
d = {
    'a' : 1,
    'b' : 2,
    'c' : 3,
    'd' : 4,
    'e' : 5,
    'f' : 6,
    'g' : 7,
    'h' : 8,
    'i' : 9,
    'j' : 10
}
for key,val in d.items():
  if val%2==0:
   print(key)

b
d
f
h
j

Q9. Create a function to check if 2 strings are anagram or not?

In [ ]:
def Anagram(st1,st2):
  st1 = st1.lower()
  st2 = st2.lower()
  if sorted(st1)==sorted(st2):
    return 'Anagram'
  else:
    return 'Not Anagram'

In [ ]:
Anagram('poonam','anoopm')

'Anagram'

Q10. Calculate the sum of digits of a number
eg = 234 => 2+3+4=9

In [ ]:
def add(num1,num2):
  return num1 + num2

In [ ]:
add(4,5)

9

In [ ]:
def add():
  num1 = int(input('Enter 1st num: '))
  num2 = int(input('Enter 2nd num: '))
  return num1 + num2

In [ ]:
add()

Enter 1st num: -8
Enter 2nd num: -2

-10