![download.jpeg]()

 1q.Create a numpy array with numpy.array module and with a data type integer and float

In [ ]:
#5 mins
import numpy as np
a = np.array([1,2,3,4,5,6,7,8,9,10], dtype= "int" )
print(a)

[ 1  2  3  4  5  6  7  8  9 10]

In [ ]:
a = np.array([1,2,3,4,5,6,7,8,9,10], dtype= "float" )
print(a)

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]

Create numpy arrays that have zero, one, two, three, Four dimensions respectively.
 Also, print the shape and dimensions of the numpy arrays created above.

In [ ]:
#5 mins


import numpy as np
# 0D array (scalar)
arr_0d = np.array(42)
print("0D Array:", arr_0d)
print("Shape:", arr_0d.shape)
print("Dimensions:", arr_0d.ndim)
print()

0D Array: 42
Shape: ()
Dimensions: 0

In [ ]:
one_dim = np.array([1,2,3,4,5])
print(one_dim)

print(one_dim.shape)
print(one_dim.ndim)

[1 2 3 4 5]
(5,)
1

In [ ]:
two_dim = np.array([[1,2,3], [4,5,6]])
print(two_dim)
print(two_dim.shape)
print(two_dim.ndim)

[[1 2 3]
 [4 5 6]]
(2, 3)
2

In [ ]:
a1 = np.zeros([5])
a2 = np.zeros((2, 2, 2))
a3 = np.zeros((3, 3, 4))
a4 = np.zeros((4, 4, 5, 1))

print(a1)
print(a2)
print(a3)
print(a4)

[0. 0. 0. 0. 0.]
[[[0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]]]
[[[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]

 [[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]

 [[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]]
[[[[0.]
   [0.]
   [0.]
   [0.]
   [0.]]

  [[0.]
   [0.]
   [0.]
   [0.]
   [0.]]

  [[0.]
   [0.]
   [0.]
   [0.]
   [0.]]

  [[0.]
   [0.]
   [0.]
   [0.]
   [0.]]]


 [[[0.]
   [0.]
   [0.]
   [0.]
   [0.]]

  [[0.]
   [0.]
   [0.]
   [0.]
   [0.]]

  [[0.]
   [0.]
   [0.]
   [0.]
   [0.]]

  [[0.]
   [0.]
   [0.]
   [0.]
   [0.]]]


 [[[0.]
   [0.]
   [0.]
   [0.]
   [0.]]

  [[0.]
   [0.]
   [0.]
   [0.]
   [0.]]

  [[0.]
   [0.]
   [0.]
   [0.]
   [0.]]

  [[0.]
   [0.]
   [0.]
   [0.]
   [0.]]]


 [[[0.]
   [0.]
   [0.]
   [0.]
   [0.]]

  [[0.]
   [0.]
   [0.]
   [0.]
   [0.]]

  [[0.]
   [0.]
   [0.]
   [0.]
   [0.]]

  [[0.]
   [0.]
   [0.]
   [0.]
   [0.]]]]

In [ ]:
import numpy as np

# Zero-dimensional array
zero_dim_array = np.array(42)
print("Zero-dimensional array shape:", zero_dim_array.shape)
print("Zero-dimensional array dimensions:", zero_dim_array.ndim)

# One-dimensional array
one_dim_array = np.array([1, 2, 3, 4, 5])
print("One-dimensional array shape:", one_dim_array.shape)
print("One-dimensional array dimensions:", one_dim_array.ndim)

# Two-dimensional array
two_dim_array = np.array([[1, 2, 3], [4, 5, 6]])
print("Two-dimensional array shape:", two_dim_array.shape)
print("Two-dimensional array dimensions:", two_dim_array.ndim)

# Three-dimensional array
three_dim_array = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])
print("Three-dimensional array shape:", three_dim_array.shape)
print("Three-dimensional array dimensions:", three_dim_array.ndim)

# Four-dimensional array
four_dim_array = np.array([[[[1], [2]], [[3], [4]]], [[[5], [6]], [[7], [8]]]])
print("Four-dimensional array shape:", four_dim_array.shape)
print("Four-dimensional array dimensions:", four_dim_array)

Zero-dimensional array shape: ()
Zero-dimensional array dimensions: 0
One-dimensional array shape: (5,)
One-dimensional array dimensions: 1
Two-dimensional array shape: (2, 3)
Two-dimensional array dimensions: 2
Three-dimensional array shape: (2, 2, 2)
Three-dimensional array dimensions: 3
Four-dimensional array shape: (2, 2, 2, 1)
Four-dimensional array dimensions: [[[[1]
   [2]]

  [[3]
   [4]]]


 [[[5]
   [6]]

  [[7]
   [8]]]]

3Ques: Create a 2x3, 3x3, and 4x4 identity matrix using numpy.

In [ ]:
a =np.eye(4, k = 1)  # k
print(a)

[[0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]
 [0. 0. 0. 0.]]

In [ ]:
a =np.identity(3)
a

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
a =np.identity(4)
a

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [ ]:
# 5mins
import numpy as np
# 2x3 "identity-like" matrix using eye
matrix_2x3 = np.eye(2, 3)
print("2x3 Matrix (eye):\n", matrix_2x3)
print()

2x3 Matrix (eye):
 [[1. 0. 0.]
 [0. 1. 0.]]

In [ ]:
identity = np.eye(3)
print(identity)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [ ]:
a = np.ones([2,3])
print(a)
a1 = np.ones([3,3])
print(a1)
a2 = np.ones([4,4])
print(a2)

[[1. 1. 1.]
 [1. 1. 1.]]
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [ ]:
TwodimMatrrix = np.identity(2)
print(TwodimMatrrix)
ThreedimMatrrix = np.identity(3)
print(ThreedimMatrrix)
FourdimMatrrix = np.identity(4)
print(FourdimMatrrix)

[[1. 0.]
 [0. 1.]]
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

4ques :  Create a numpy array with shape 2x5 that has all the elements as zero

In [ ]:
a =np.zeros((2,5))
a

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

 5ques:  Create a numpy array that has the shape 3x5 and all the elements are 5.

In [ ]:
k1 = np.full((3,5), 5)
k1

array([[5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5]])

6ques:

Create a numpy array with random integers in the range 0-100, and the sample size
 should be 25.

In [ ]:
# 5 mins
np.linspace(0, 100, 25)

array([  0.        ,   4.16666667,   8.33333333,  12.5       ,
        16.66666667,  20.83333333,  25.        ,  29.16666667,
        33.33333333,  37.5       ,  41.66666667,  45.83333333,
        50.        ,  54.16666667,  58.33333333,  62.5       ,
        66.66666667,  70.83333333,  75.        ,  79.16666667,
        83.33333333,  87.5       ,  91.66666667,  95.83333333,
       100.        ])

In [ ]:
a = np.random.randint(0, 100, 25)
a

array([56, 78, 77, 38, 54,  8, 53, 86, 28, 88, 22, 14, 67, 66, 45, 67, 47,
       53, 75, 67, 60, 38, 84,  4, 35])

In [ ]:
np.random.randint(0, 101, size=25)

array([88, 76, 22, 72, 58, 21, 72, 89, 78, 36, 37, 87, 32, 37, 61, 21, 31,
       98, 89, 54, 34, 84, 73, 28,  9])

In [ ]:
np.random.randint(0, 101, size=25)

array([ 24,  89,   1,   3,  22,  59,  68,  67,  87,  42,  88,  43, 100,
        15,  12,   0,  16,  65,  24,  29,  44,  30,  34,  86,  90])

In [ ]:
a = np.linspace(0,100,25)
print(a)

[  0.           4.16666667   8.33333333  12.5         16.66666667
  20.83333333  25.          29.16666667  33.33333333  37.5
  41.66666667  45.83333333  50.          54.16666667  58.33333333
  62.5         66.66666667  70.83333333  75.          79.16666667
  83.33333333  87.5         91.66666667  95.83333333 100.        ]

In [ ]:
np.random.randint(0,101,25)

array([36, 66, 11, 82, 83, 48, 64, 54, 31, 30, 60, 73,  0, 23, 10, 55, 34,
       12, 31, 99,  5,  7,  3, 53, 78])

In [ ]:
random_array = np.random.randint(0, 101, size=25)
print(random_array)

[16 40 39 68 46 35 91 22 30  3 29 84 84 34 80 77 67 26 28 10 58 14 93 50
  5]

 Create a numpy array with a shape 3x3 that has all elements as 1.

In [ ]:
h = np.ones((3,3))
h

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

8ques:   Create a numpy array in the shape 2x3 with random integers in the range 0-100.
 Reshape the array in the shape 3x2 and print the updated shape of the resultant array.

In [ ]:
# 5 mins
a = np.random.randint(0,100,size=(2,3))
print(a)
a = a.reshape(3,2)
print(a)

[[85 95 97]
 [74  6 46]]
[[85 95]
 [97 74]
 [ 6 46]]

In [ ]:
a = np.random.randint(0, 100, (2, 3))
print(a)
aT = a.reshape(3, 2)
print(aT)

[[69 96 52]
 [48 34 58]]
[[69 96]
 [52 48]
 [34 58]]

In [ ]:
a = np.random.randint(0, 100, size=(2, 3))
print(a)
print(a.reshape(3, 2))

[[75 15 70]
 [47 66 84]]
[[75 15]
 [70 47]
 [66 84]]

In [ ]:
arr = np.random.randint(0,101,(2,3))
print(arr)
arr1 = arr.reshape(3,2)
print(arr1)

[[ 8 70 19]
 [30 95 31]]
[[ 8 70]
 [19 30]
 [95 31]]

In [ ]:
a1 = np.random.randint(0,101,6)
print(a1)
a2 = a1.reshape(3,2)
print(a2)
a3 = a2.reshape(2,3)
print(a3)

[24 97 14 87 76 37]
[[24 97]
 [14 87]
 [76 37]]
[[24 97 14]
 [87 76 37]]

In [ ]:
a=array = np.random.randint(0, 101, size=(2, 3))
a

array([[54, 30, 72],
       [95, 74, 73]])

In [ ]:
a=np.random.randint(0,100, size=(3,2))
print(a)
a.resize(2,3)
print(a)

[[ 9 99]
 [61 30]
 [14 85]]
[[ 9 99 61]
 [30 14 85]]

9ques:Create a random array, with the range 0-1000, with a size 50 and step 2. Perform the
 following operations on the same.
 a. Print the first ten elements of the array.

 b. Print the last ten elements of the array

 c. Print the elements from the indexes 10-25

 d. Print the element at the index 22

 e. Print the array using negative indexing.

 f.Print the last ten elements of the array, using negative indexing.

In [ ]:
arr = np.random.randint(0,1000,50)
arr

array([583, 623, 751, 298, 811, 218, 297, 267,  82, 473, 762, 931, 281,
       925, 507, 324, 648, 775, 945, 842, 955,   5, 608, 874, 596, 909,
       374,  37, 739, 911, 417, 693, 975, 829, 734, 162, 934, 660, 529,
       429, 107, 128, 822, 292, 175, 750, 556, 381, 665, 559])

In [ ]:
arr[: 10]

array([583, 623, 751, 298, 811, 218, 297, 267,  82, 473])

In [ ]:
arr[40: ]

array([107, 128, 822, 292, 175, 750, 556, 381, 665, 559])

In [ ]:
arr[-10:]

array([107, 128, 822, 292, 175, 750, 556, 381, 665, 559])

In [ ]:
arr[10: 26]

array([762, 931, 281, 925, 507, 324, 648, 775, 945, 842, 955,   5, 608,
       874, 596, 909])

In [ ]:
arr[22]

np.int64(608)

In [ ]:
# print tha array using negative indexing
arr[: : -1]

array([559, 665, 381, 556, 750, 175, 292, 822, 128, 107, 429, 529, 660,
       934, 162, 734, 829, 975, 693, 417, 911, 739,  37, 374, 909, 596,
       874, 608,   5, 955, 842, 945, 775, 648, 324, 507, 925, 281, 931,
       762, 473,  82, 267, 297, 218, 811, 298, 751, 623, 583])

In [ ]:
# last ten elements using negative indx
arr [-10 : ]

array([107, 128, 822, 292, 175, 750, 556, 381, 665, 559])

10. Given a numpy array that has values = [1,2,3,4,5]. Perform the following operations.
 a. Insert the element 6 at the end of the array.

 b. Insert the element 10 at the beginning of the array.

 c. Insert the element 30, before 4.

 d. Update the element 5 as 50.

 e. Delete the element 50 in the updated array.

 f.Create a function to search for the element 30.

 g. Sort the array in ascending order

In [ ]:
# 5 mins

z = np.array([1,2,3,4,5])
z

array([1, 2, 3, 4, 5])

In [ ]:
# insert element 6 at the end of array
y = np.append(z,6)
y

array([1, 2, 3, 4, 5, 6])

b. Insert the element 10 at the beginning of the array.

In [ ]:
d  = np.insert(y, 0 ,10)
d

array([10,  1,  2,  3,  4,  5,  6])

c. Insert the element 30, before 4

In [ ]:
e = np.insert(d, 4, 30)
e

array([10,  1,  2,  3, 30,  4,  5,  6])

d. Update the element 5 as 50.

In [ ]:
e[-2] = 50
e

array([10,  1,  2,  3, 30,  4, 50,  6])

. Delete the element 50 in the updated array.

In [ ]:
f = np.delete(e,6 )
f

array([10,  1,  2,  3, 30,  4,  6])

f.Create a function to search for the element 30.

In [ ]:
def search(arr1):
  for i,e in enumerate(arr1):
    if e == 30:
      print('30 is present in the array')
search(f)

30 is present in the array

In [ ]:
x = np.where(f == 30)
x

(array([4]),)

In [ ]:
a=np.where(f ==1)
a

(array([0]),)

In [ ]:
f.sort()
f

array([ 1,  2,  3,  4,  6, 10, 30])

enumerate is a built-in function used when you want to loop over any iterable and also keep track of the index

In [ ]:
fruits = ["apple", "orange", "pineapple"]

for i, v in enumerate(fruits, start = 1):
  print(i, v)

1 apple
2 orange
3 pineapple

In [ ]:
sales = np.array([250,  270 , 260 , 5000, 280, 290 , 275])


# detect the sales greater than 1000 as outlier and replace them with the mean of rest


non_outlier =  sales[sales <=1000]
mean_value = np.mean(non_outlier)
print(mean_value)

sales[sales> 1000] = mean_value
print(sales)

270.8333333333333
[250 270 260 270 280 290 275]

In [ ]:
scores = np.array([65, 70, 75, 80, 85, 90, 95])

# normalize the score to a 0 - 1 scale using formula
# normalize = (x-min) / (max- min)

# 5 mins

min = scores.min()
max = scores.max()
normalize = (scores - min) / (max - min)
normalize

array([0.        , 0.16666667, 0.33333333, 0.5       , 0.66666667,
       0.83333333, 1.        ])

In [ ]:
score1 = (scores - np.min(scores)) / (np.max(scores) - np.min(scores))
print(score1)

[0.         0.16666667 0.33333333 0.5        0.66666667 0.83333333
 1.        ]

In [ ]:
scores = np.array([65, 70, 75, 80, 85, 90, 95])
# normalize the score to a 0 - 1 scale using formula
# normalize = (x-min) / (max- min)
normalize = []
for i in range(len(scores)):
    normalize.append((scores[i] - np.min(scores)) / (np.max(scores) - np.min(scores)))
print(normalize)

[np.float64(0.0), np.float64(0.16666666666666666), np.float64(0.3333333333333333), np.float64(0.5), np.float64(0.6666666666666666), np.float64(0.8333333333333334), np.float64(1.0)]

In [ ]:
scores_min = np.min(scores, axis=0)
scores_max = np.max(scores, axis=0)
normalized_data = (scores - scores_min) / (scores_max - scores_min)
print("Normalized data:\n", normalized_data)

Normalized data:
 [0.         0.16666667 0.33333333 0.5        0.66666667 0.83333333
 1.        ]

In [ ]:
person_a = np.array([1200, 1100, 1300, 1250, 1400, 1350])
person_b = np.array([1000, 1150, 1200, 1100, 1250, 1300])

# find out in which month person a spent more than person b


result = person_a > person_b
months = np.where(result)[0]+1

print("person a spend more in months", months)
# 5mins
#person_a = np.array([1200, 1100, 1300, 1250, 1400, 1350])
#person_b = np.array([1000, 1150, 1200, 1100, 1250, 1300])
# find out in which month person a spent more than person b

#for i in range(len(person_a)):
 #   if person_a[i]>person_b[i]:
  #      print(f'month {i+1}')

person a spend more in months [1 3 4 5 6]

In [ ]:
person_a = np.array([1200, 1100, 1300, 1250, 1400, 1350])
person_b = np.array([1000, 1150, 1200, 1100, 1250, 1300])
# find out in which month person a spent more than person b
months = len(person_a)
for m in range(months):
    if person_a[m] > person_b[m]:
        print(f"person a spent more than person b in month {m+1}")

person a spent more than person b in month 1
person a spent more than person b in month 3
person a spent more than person b in month 4
person a spent more than person b in month 5
person a spent more than person b in month 6

In [ ]:
exp = person_a -person_b
spent = np.where(exp>0)
print(spent)

(array([0, 2, 3, 4, 5]),)

In [ ]:
months = np.where(person_a > person_b)
months

(array([0, 2, 3, 4, 5]),)

In [ ]:
months = np.where(person_a > person_b)[0]
print("Person A spent more than Person B in month(s):", months + 1)

Person A spent more than Person B in month(s): [1 3 4 5 6]

In [ ]:
for i,v in enumerate(zip(person_a,person_b),start=1):
  val = v[0]-v[1]
  #print(val)
  if val > 0:
    print('Month ',i)

Month  1
Month  3
Month  4
Month  5
Month  6

In [ ]:
person_a = np.array([1200, 1100, 1300, 1250, 1400, 1350])
person_b = np.array([1000, 1150, 1200, 1100, 1250, 1300])
months = np.array(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'])
mask = person_a > person_b
months_person_a_spent_more = months[mask]
print(months_person_a_spent_more)

['Jan' 'Mar' 'Apr' 'May' 'Jun']

In [ ]:
hours = np.array([40, 38, 42, 36, 45])
# find out the average working hours and also list those employees who worked more
# than average hours

avg_hours = np.mean(hours)
above_avg = hours> avg_hours
print("average hours", avg_hours)
print("employee with above average hours", np.where(above_avg)[0]+1)

average hours 40.2
employee with above average hours [3 5]

In [ ]:
hours = np.array([40,38,42, 36, 45])
avg_hours = hours.mean()
print(f'average hours {avg_hours}')
above_avg_hours = hours[hours > avg_hours]
print(f'above avg hours {above_avg_hours}')

average hours 40.2
above avg hours [42 45]

In [ ]:
scores = np.array([77, 55, 76, 89, 67, 44, 23])
# find the mean , median ,stdev, highest scores