In [1]:
import pandas as pd

In [5]:
#2) Create a python dictionary with three key value pairs. 
# Keep the keys as the first names, and the respective last 
# names as values in the dictionary. Use the dictionary to create a
# pandas series.


dict = {'Amit':'Gupta', 'Bhola':'Sharma', 'Chetna':'Mehta'}
s2 = pd.Series(dict)
print(s2)

Amit       Gupta
Bhola     Sharma
Chetna     Mehta
dtype: object

In [15]:
#3) 3. Create a pandas series, with the elements as numbers from 1-10. 
# Use the index values starting from 0-10. For the above series:
# a. Convert it to a list.
# b. Convert it to a dictionary.
# c. Convert it to a tuple.
# d. Convert it to a set


s3 = pd.Series(range(1,11))
#a.
l = list(s3)
print(l)
#b.
d = s3.to_dict()
print(d)
#c.
t = tuple(s3)
print(t)
#d.
s = set(s3)
print(s)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [33]:
# 4. Create a sample pandas series with x integer elements. 
# Perform the following operations on the same:

# a. Print the first 5 elements of the series
# b. Print the last 5 elements of the series
# c. Insert an integer value ‘50’ at the index 5.
# d. Update the last element in the series with the value 100.
# e. Delete the first element from the series.

# Note: The index values must not be affected by the operations and 
# should be uniform for the series after the last operation.


s4 = pd.Series(range(1,21))

#a.
print(s4.head(5))

#b.
print(s4.tail(5))

#c.
s41 = s4
print(s41)

#d.



#e.

0    1
1    2
2    3
3    4
4    5
dtype: int64
15    16
16    17
17    18
18    19
19    20
dtype: int64

AttributeError: module 'pandas' has no attribute 'insert'