#**Object Oriented Programming**
* An approach to solve real world problems
* It mainly focus on the term Class and objects
* We have 4 important pillars of OOP (Inheritance, Polymorphism, Abstraction, Encapsulation)

<hr>

* **Class**: It is a blueprint of real world cases (vehicle example)
* **Objects**: It helps you to access the properties(Attibutes + Methods) that are there inside the class

<hr>

###**Note:**
* **Methods are Functions inside the class**
* **Attributes are the Variable inside the class**
* Collectively we call it as **Data Members**

# **Creating the class**
* Keyword alert : **class**

In [ ]:
class Car:
  # These are my atrtributes (Variables)
  door = 6
  wheels = 4
  def display(self): # Method
    print(f'Hii this is the method class')

In [ ]:
# Create the object of the class
ob = Car()
print(ob.door)
print(ob.wheels)
ob.wheels = 5
print(ob.wheels)
ob.display() # We will use () since its a function

6
4
5
Hii this is the method class

In [ ]:
ob2 = Car() # ---- class
print(ob2.wheels)
print(ob.wheels)

4
5

**Self** is a parameter that connect my object with the data members

#**Constructor** (`__init__`)
* It will initialize the attribute of a class whenever we create an object
* We can create constructo by using `__init__` method (Magic methods)

**Note: Whenever we create a function(method) inside a class, we always pass the first parameter as `self`**

In [ ]:
# create an Employee class
class Employee:
  def __init__(self,empName,empDomain,empSalary):
    self.empName = empName # self.empName ---> Atrtribute
    self.empDomain = empDomain
    self.empSalary = empSalary

  def display(self):
    print(f'Name : {self.empName}, Domain: {self.empDomain}, Salary: {self.empSalary}')

In [ ]:
# Creating object
emp1 = Employee('Mansi','MLE',1.5) # It will call you __init__ method
emp1.display()

Name : Mansi, Domain: MLE, Salary: 1.5

In [ ]:
emp2 = Employee('Shikha','SDE', 1.25)
emp2.display()

Name : Shikha, Domain: SDE, Salary: 1.25

###BONUS

In [ ]:
# Self is a reference parameter (we can use any other name aswell)
# Still --- we will use self
class Test:
  def __init__(xyz,Name):
    xyz.Name = Name
  def output(xyz):
    print(f'Name is {xyz.Name}')

In [ ]:
ob = Test('Aryan')
ob.output()

Name is Aryan

# **Pillars of OOP**
* Inheritance
* Polymorphism
* Abstraction
* Encapsulation

##**Inhertiance**
Passing on the data memebers from Parent class(Base class) to the child class (derived class)

###Types of inheritance
* Single level inheritance
* Multilevel inheritance
* Muliple inheritance
* Hierarichal inheritance

<hr>

###**Single level inheritance**
one parent class -----> one child class

In [ ]:
# Parent class
class Parent:
  def display(self):
    print('I am from parent class')

# Child class
class Child(Parent):
  def show(self):
    print('This is my child class ')

In [ ]:
ob = Parent()
ob.display()
# ob.show()

I am from parent class

In [ ]:
# object of child class
ob1 = Child()
ob1.show() # Child class own method
ob1.display()

This is my child class
I am from parent class

###**MultiLevel Inheritance**
GrandFather -----> Father -----> Child (like a chain)

In [ ]:
# Parent class
class Parent:
  def display(self):
    print('I am from parent class')

# Child class
class Child(Parent): # All the properties of parent class wil be here
  def show(self):
    print('This is my child class ')

# Grand Child class
class GrandChild(Child):
  def output(self):
    print('Grand child')

In [ ]:
g1 = GrandChild()
g1.output()
g1.show()
g1.display()

Grand child
This is my child class
I am from parent class

###**Multiple Inheritance**
Parent 1 + Parent 2 -----> Child
* you can have n number of parents

In [ ]:
# Parent class
class Parent1:
  def display(self):
    print('I am from parent1 class')

# parent2 class
class Parent2:
  def show(self):
    print('I am from parent2 class ')


class Child(Parent1,Parent2):
  def output(self):
    print('child')

In [ ]:
ob1 = Child()
ob1.display()
ob1.show()
ob1.output()

I am from parent1 class
I am from parent2 class
child

###**Hierarchical Inhertiance**
1 Parent ------> Child1 + child2 + child3

In [ ]:
# Parent class
class Parent:
  def display(self):
    print('I am from parentclass')

# child1 class
class Child1(Parent):
  def show(self):
    print('child1 class ')

# child2 class
class Child2(Parent):
  def output(self):
    print('child2 class')

In [ ]:
ob1 = Child1()
ob1.display()
ob1.show()
ob2 = Child2()
ob2.display()
ob2.output()
# ob2.show() because there no inheritance between child 1 and child 2

I am from parentclass
child1 class
I am from parentclass
child2 class

###**Polymorphism**
Poly - Many ---- Morphism - Forms
* One method name having different functionalities in different classes

In [ ]:
# overloading --- Python  doesnt have that
# python follows line by line execution --> Overides the previous function
def area(a,b):
  print(a*b)

def area(a,b,c):
  print(a*b*c)

area(2,3,4)
# area(2,4) is has been over ridden by area(a,b,c)

24

**Super() will allow you to call the parent class method**

In [ ]:
class Square:
  def area(self):
    print('Area of Square')

class Rectangle(Square):
  def area(self):
    print('Area of Rectangle')
    super().area() # super() will call my parent class area method

In [ ]:
ob = Square()
ob.area()

Area of Square

In [ ]:
ob1 = Rectangle()
# ob1.area()
Square.area(ob1) # You can do it but not recommended

Area of Square

**But if we have multiple parent classes having same method name then super() will call the method of first inherited class**

In [ ]:
class Square:
  def area(self):
    print('Area of Square')

class Rectangle:
  def area(self):
    print('Area of Rectangle')

class Circle(Rectangle,Square):
  def area(self):
    super().area()
    super().area()
    print('Area of Circle')

In [ ]:
ob = Circle()
ob.area()

Area of Rectangle
Area of Rectangle
Area of Circle

**To access the method of other class we will use ClassName.methodName(self)**

In [ ]:
class Square:
  def area(self):
    print('Area of Square')

class Rectangle:
  def area(self):
    print('Area of Rectangle')

class Circle(Rectangle,Square):
  def area(self):
    Square.area(self) # When we use this way--- we need to pass self
    Rectangle.area(self)
    print('Area of Circle')

In [ ]:
ob = Circle()
ob.area()

Area of Square
Area of Rectangle
Area of Circle

**Let's see Polymorphism concept through constructor**

In [ ]:
class Square:
  def __init__(self,side):
    self.side = side # Initializing my attribute

  def area(self):
    print(f'Area of Square is {self.side**2}')

class Rectangle(Square):
  def __init__(self,length,width,side):
    self.length = length
    self.width = width
    Square.__init__(self,side)

  def area(self):
    Square.area(self)
    print(f'Area of Rectangle is {self.length * self.width}')

In [ ]:
ob = Rectangle(2,5,3)
# print(ob.length)
# print(ob.width)
ob.area()
print(ob.side)

Area of Square is 9
Area of Rectangle is 10
3

# Abstraction
The hiding of unnecessary information (Code/methods/attributes/class) from user
* Abstraction is not much recommended in python

To Implement abstraction we are going to follow some steps:
* Step1: We need to import one library

In [ ]:
# abc - Library name (abstract base class)
# ABC - Actual class that i am importing from abc Library
# abstractmethod - A decorator to create abstract methods
from abc import ABC, abstractmethod

In [ ]:
# step-2
class Testing(ABC):
  @abstractmethod
  def display(self):
    print('Picture imported')

class Child(Testing):
  def display(self):
    super().display()

In [ ]:
# ob = Testing() We cannot access abstract class
# ob = Child() We are not able to use the abstract
ob = Child()
ob.display()

Picture imported

# Encapsulation
* Wrapping up the data member into one single unit(Attribute + Method) = Capsule(Class)
* We can specifiy which method , attribute should be passed to the child class with the help of **Access Specifier**

We have three types of access specifier(in python only two):
* Public - The data that can be access anywhere (Accessible to everyone)
* Protected - The data that can be accessible only in the same class and inherited class (derived class) -- In python protected behave same as public
* Private - Only within the same class i can access the data

![image.png]()

###**How to use Access Specifier**
* self.name = Public attribute
* self._age = Protected attribute
* self.__salary = Private data (double underscore before the name of the variable)

**You can also create private methods**
* def Display(self): Public method
* def __Display(self): Private method

In [ ]:
class Person:
  def __init__(self,name,age,salary):
    self.name = name # Public attribute
    self._age = age # Protected attribute
    self.__salary = salary # Private attribute

  def display(self): # Public method
    print(f'Your name is {self.name} and your age is: {self._age}, Salary is {self.__salary}')

In [ ]:
class Employee(Person):
  def __init__(self,name,age,salary,EMPID):
    self.EMPID = EMPID
    Person.__init__(self,name,age,salary)
  def empDisplay(self):
    print(self.EMPID)
    print(self.name)
    print(self._age)
    # print(self.__salary)

In [ ]:
ob = Person('Shrabani',25,1.5)
print(ob.name)
print(ob._age) # Protected behaves same as public
# print(ob.__salary) Private data
ob.display() # It is  public method

Shrabani
25
Your name is Shrabani and your age is: 25, Salary is 1.5

**Note -Through public method i can access private data**

In [ ]:
e1 = Employee('Maneesh',28,2,121)
e1.empDisplay()

121
Maneesh
28

# Bonus Questions
###Armstrong number
* 153 = 1 ^3 + 5 ^3 + 3^3 = 153
* Count the total digits: len(str(x))
* Break the number in uni digits: NUM%10
* To update number : num//10
* Make the power of unidigits(count)
* Add all the values together
* Check whether original num and sum are same or not

While loop approach

In [ ]:
num = int(input('Enter the number: '))
count = len(str(num))
temp = num
sum = 0
while temp > 0:
  uniDigit = temp % 10
  sum = sum + uniDigit**count
  temp = temp//10

if num == sum:
  print('Armstrong')
else:
  print('Not Armstrong')

Enter the number: 1634
Armstrong

In [ ]:
# 153 --- 15-----1 --- 0

In [ ]:
# 3 ^ 3 --- 27 + 0 = 27
# 5^3 --- 125 + 27 = 152
# 1^3 --- 1 + 152 = 153

For loop

In [ ]:
num = int(input('Enter the number: '))
sum = 0
count = len(str(num))
for i in str(num):
  sum = sum + int(i)**count

if num == sum:
  print('Armstrong')
else:
  print('Not Armstrong')

Enter the number: 1634
Armstrong

In [ ]:
x = '153'
for i in x:
  print(i)

1
5
3