In [1]:
#grv08singh@gmail.com

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score

In [2]:
df = pd.read_csv('census-income.csv')

In [3]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Unnamed: 14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [4]:
X = df.drop(columns='Unnamed: 14')
y = df['Unnamed: 14']

In [5]:
for col in X.columns:
    if X[col].dtype == 'object':
        le = LabelEncoder()
        X[col] = le.fit_transform(X[col])

In [6]:
X.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39

In [7]:
ss = StandardScaler()

In [8]:
X = pd.DataFrame(ss.fit_transform(X))

In [9]:
X.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.030671,2.150579,-1.063611,-0.335437,1.134739,0.921634,-1.317809,-0.277805,0.393668,0.703071,0.148453,-0.21666,-0.035429,0.291569
1,0.837109,1.463736,-1.008707,-0.335437,1.134739,-0.406212,-0.608387,-0.900181,0.393668,0.703071,-0.145920,-0.21666,-2.222153,0.291569

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=42)

In [11]:
rf = RandomForestClassifier()

In [12]:
param = {
    'n_estimators': np.arange(10, 100),
    'max_depth': np.arange(1, 10),
    'min_samples_split': np.arange(2, 20),
    'min_samples_leaf': np.arange(1, 20),
    'bootstrap': [True, False]
}

In [13]:
rscv = RandomizedSearchCV(rf,param_distributions=param, scoring='accuracy',cv=5,n_iter=100, n_jobs=-1)

In [14]:
rscv = rscv.fit(X_train,y_train)

In [15]:
rscv.best_params_

{'n_estimators': np.int64(97),
 'min_samples_split': np.int64(13),
 'min_samples_leaf': np.int64(1),
 'max_depth': np.int64(9),
 'bootstrap': True}

In [50]:
rscv.best_estimator_

RandomForestClassifier(max_depth=np.int64(9), min_samples_leaf=np.int64(1),
                       min_samples_split=np.int64(13),
                       n_estimators=np.int64(97))

In [23]:
rscv.best_score_

np.float64(0.8557330057330057)

In [16]:
rf = RandomForestClassifier(n_estimators=97, min_samples_split=13, min_samples_leaf=1, max_depth=9, bootstrap=True)

In [17]:
rf = rf.fit(X_train, y_train)

In [18]:
y_pred = rf.predict(X_test)

In [19]:
accuracy_score(y_test, y_pred)

0.859231052696229

In [7]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Unnamed: 14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [9]:
df[df['Unnamed: 14'] == '>50K'].shape[0]/df.shape[0]

0.2408095574460244

In [16]:
df['marital-status'].value_counts()

marital-status
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64

In [19]:
df['hours-per-week'].value_counts()

hours-per-week
40    15217
50     2819
45     1824
60     1475
35     1297
      ...
87        1
82        1
94        1
92        1
74        1
Name: count, Length: 94, dtype: int64

In [26]:
df[(df['marital-status'] == 'Never-married') & (df['hours-per-week'] < 20)].shape[0]

907

In [27]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'Unnamed: 14'],
      dtype='object')

In [28]:
df['age'].min(),df['age'].max(),df['age'].median()

(17, 90, 37.0)

In [30]:
df['native-country'].value_counts().sort_values()

native-country
Holand-Netherlands                1
Scotland                         12
Hungary                          13
Honduras                         13
Outlying-US(Guam-USVI-etc)       14
Yugoslavia                       16
Laos                             18
Thailand                         18
Trinadad&Tobago                  19
Cambodia                         19
Hong                             20
Ireland                          24
Ecuador                          28
France                           29
Greece                           29
Peru                             31
Nicaragua                        34
Portugal                         37
Iran                             43
Haiti                            44
Taiwan                           51
Columbia                         59
Poland                           60
Japan                            62
Guatemala                        64
Vietnam                          67
Dominican-Republic               70
Italy                            73
China                            75
South                            80
Jamaica                          81
England                          90
Cuba                             95
India                           100
El-Salvador                     106
Puerto-Rico                     114
Canada                          121
Germany                         137
Philippines                     198
?                               583
Mexico                          643
United-States                 29170
Name: count, dtype: int64

In [24]:
df = pd.read_csv('Airport_Passengers_Satisfication.csv')

In [33]:
df.sample(2)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
2263,101317,Female,Loyal Customer,51,Business travel,Business,3765,5,5,4,...,5,5,5,5,5,5,3,5,1.0,satisfied
15293,43636,Female,Loyal Customer,52,Personal Travel,Business,852,4,1,4,...,4,4,4,4,3,4,4,0,0.0,dissatisfied

In [36]:
df[(df['Gender']=='Female') & (df['satisfaction'] == 'dissatisfied')].shape[0] / df[df['Gender']=='Female'].shape[0]

0.5646067415730337

In [41]:
df.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [42]:
cols = ['Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness']

In [51]:
df[cols].mean(axis=1)

0        4.142857
1        3.428571
2        2.142857
3        1.785714
4        2.642857
           ...
25971    3.357143
25972    4.285714
25973    3.000000
25974    3.642857
25975    2.142857
Length: 25976, dtype: float64

In [52]:
df['ave_score'] = df[cols].mean(axis=1)

In [53]:
df.head(2)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,ave_score
0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,...,5,5,5,2,5,5,50,44.0,satisfied,4.142857
1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,...,4,4,4,3,4,5,0,0.0,satisfied,3.428571

In [42]:
def sat(s):
    if s == 'satisfied':
        return 1
    else:
        return 0

In [57]:
df['satis'] = df['satisfaction'].apply(sat)

In [58]:
df.sample(5)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,ave_score,satis
14954,62511,Male,Loyal Customer,49,Business travel,Business,1846,2,2,2,...,4,4,5,4,5,3,0.0,satisfied,3.500000,1
20814,113982,Female,Loyal Customer,57,Business travel,Eco,1750,2,4,4,...,2,2,4,2,2,0,0.0,dissatisfied,2.642857,0
4944,79211,Male,Loyal Customer,51,Business travel,Business,490,5,5,5,...,4,4,2,4,4,0,0.0,satisfied,4.142857,1
3086,129788,Female,Loyal Customer,34,Personal Travel,Eco,337,3,5,2,...,4,5,5,4,4,0,5.0,dissatisfied,3.642857,0
20260,37421,Female,Loyal Customer,72,Business travel,Business,3121,1,1,1,...,1,1,1,1,4,17,6.0,dissatisfied,1.714286,0

In [81]:
X = df[['ave_score']]
y = df['satis']

In [82]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [83]:
from sklearn.tree import DecisionTreeClassifier

In [84]:
dt = DecisionTreeClassifier(random_state=42)

In [85]:
dt = dt.fit(X_train,y_train)

In [86]:
y_pred = dt.predict(X_test)

In [87]:
accuracy_score(y_test, y_pred)

0.722671285604311

In [69]:
X = df[cols]
y = df['satis']

In [73]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=24)

In [75]:
rf = RandomForestClassifier(n_estimators=200, random_state=24)

In [77]:
rf = rf.fit(X_train,y_train)

In [79]:
y_pred = rf.predict(X_test)

In [80]:
accuracy_score(y_test,y_pred)

0.9358398562812781

In [25]:
X = df.drop(columns=['id','Arrival Delay in Minutes','satisfaction'])
y = df['satisfaction']

In [28]:
X.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes
0,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,4,...,4,3,5,5,5,5,2,5,5,50
1,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,1,...,4,5,4,4,4,4,3,4,5,0
2,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,4,...,2,2,2,4,1,3,2,2,2,0
3,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,2,...,4,4,1,1,1,1,3,1,4,0
4,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,3,...,1,2,2,2,2,2,4,2,4,0

In [31]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             25976 non-null  object
 1   Customer Type                      25976 non-null  object
 2   Age                                25976 non-null  int64
 3   Type of Travel                     25976 non-null  object
 4   Class                              25976 non-null  object
 5   Flight Distance                    25976 non-null  int64
 6   Inflight wifi service              25976 non-null  int64
 7   Departure/Arrival time convenient  25976 non-null  int64
 8   Ease of Online booking             25976 non-null  int64
 9   Gate location                      25976 non-null  int64
 10  Food and drink                     25976 non-null  int64
 11  Online boarding                    25976 non-null  int64
 12  Seat comfort                       25976 non-null  int64
 13  Inflight entertainment             25976 non-null  int64
 14  On-board service                   25976 non-null  int64
 15  Leg room service                   25976 non-null  int64
 16  Baggage handling                   25976 non-null  int64
 17  Checkin service                    25976 non-null  int64
 18  Inflight service                   25976 non-null  int64
 19  Cleanliness                        25976 non-null  int64
 20  Departure Delay in Minutes         25976 non-null  int64
dtypes: int64(17), object(4)
memory usage: 4.2+ MB

In [32]:
for col in ['Gender','Customer Type','Type of Travel','Class']:
    le = LabelEncoder()
    X[col] = le.fit_transform(X[col])

In [38]:
ss = StandardScaler()
X = pd.DataFrame(ss.fit_transform(X))

In [39]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,-0.985932,-0.476040,0.817887,-0.663378,0.652923,-1.035171,1.703853,0.621641,0.172143,0.797831,...,0.544692,-0.340303,1.227138,1.259170,1.250974,1.161716,-1.035348,1.144063,1.298998,0.953810
1,-0.985932,-0.476040,-0.239238,-0.663378,-0.950436,1.671443,-1.291598,-1.334871,0.172143,-1.542065,...,0.544692,1.174774,0.479907,0.479178,0.492730,0.311739,-0.247517,0.297077,1.298998,-0.382286
2,1.014269,2.100665,-1.296363,-0.663378,0.652923,-1.003128,-0.542735,-1.987042,-0.535609,0.797831,...,-0.930768,-1.097842,-1.014556,0.479178,-1.782001,-0.538238,-1.035348,-1.396893,-0.974927,-0.382286
3,1.014269,-0.476040,0.289325,-0.663378,-0.950436,2.186131,-2.040460,-1.987042,-1.951114,-0.762100,...,0.544692,0.417235,-1.761787,-1.860800,-1.782001,-2.238193,-0.247517,-2.243878,0.541023,-0.382286
4,-0.985932,-0.476040,0.619676,-0.663378,0.652923,-0.011804,-0.542735,-0.030530,0.879895,0.017866,...,-1.668498,-1.097842,-1.014556,-1.080807,-1.023758,-1.388216,0.540315,-1.396893,0.541023,-0.382286

In [43]:
y = y.apply(sat)

In [45]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=12)

In [46]:
rf = RandomForestClassifier(n_estimators=500, random_state=12, criterion='entropy')

In [47]:
rf = rf.fit(X_train, y_train)

In [48]:
y_pred = rf.predict(X_test)

In [49]:
f1_score(y_test,y_pred)

0.948955223880597