In [5]:
# Q1. Using Python script as a calculator
# Create the variables n, r, p and assign them values 10, 5, and 100 respectively. 
# Then evaluate the following expression in the Python console.
# ùê¥ = ùëù (1 + ùëü/ 100)^n
# a. 100
# b. 162.89
# c. 189
# d. None of the above

n = 10
r = 5
p = 100
A = p * (1 + r/100)**n

print(round(A,2))

162.89

In [13]:
# Q2. In a given string format operation, how will you print the given string.
# A = 10
# B = 20
# Str = "There are {} students in the class, with {} who play at least one sport."
# a. print(string.format(a,b))
# b. print(string+a+b)
# c. print(string.format(b,a))
# d. None of the above

A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."

print(Str.format(B,A))

There are 20 students in the class, with 10 who play at least one sport.

In [17]:
# Q3. In a given sample string, How do you print a double quoted string in between a
# regular string using the escape character?

# Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
# a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)
# b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)
# c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)
# d. None of the above.


print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying, "Time is Money", and none can deny it.

In [23]:
# Q4. What will be the output of the following code?
# x = lambda a,b: a//b
# x(10,3)
# a. 3.3333333333
# b. 3
# c. 30
# d. 1000

x = lambda a,b: a//b
print(x(10,3))

3

In [25]:
# Q5. What will be the output of the following code?
# A = 10
# B = 12
# print("Smaller") if A == B else print("Greater") if A < B else print("True")
# a. True
# b. Smaller
# c. Greater
# d. None of the above

A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

In [29]:
# Q6. What will be the output of the following code?
# import os
# import numpy as np
# my_list1 = [2,7,3,5,4,6]
# print(my_list1)
# arr_1 = np.array(my_list1, dtype=int)
# print(arr_1)
# 
# a. [2 7 3 5 4 6]
# b. TypeError
# c. NameError: name 'numpy' is not defined
# d. None of the above

import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr_1 = numpy.array(my_list1, dtype=int)
print(arr_1)

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

In [33]:
# Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. 
# Which code(s) is/are appropriate to slice the substring ‚ÄúLearn‚Äù?
# a. string[slice(13,8,1)]
# b. string[slice(1,8,1)]
# c. string[8:14]
# d. string[slice(8,13,1)]

string = "Machine Learning"
string[slice(8,13,1)]

'Learn'

In [67]:
# Q8. Create a sequence of numbers from 10 to 25 and increment by 4. 
# What is the index of the value 18?
# a. 3
# b. 2
# c. 0
# d. 1

arr2 = np.arange(10,25,4)
print(arr2)
print(f"index of 18 is {np.where(arr2 == 18)[0][0]}")

[10 14 18 22]
index of 18 is 2

In [73]:
# Q9. Which of the following is true with respect to the below codes?
# num1 = 5**4
# num2 = pow(5,4)
# print(num1, num2)
# 
# a. num1 = num2
# b. num1 ‚â† num2
# c. num1 < num2
# d. num1 > num2


num1 = 5**4
num2 = pow(5,4)
print(num1, num2)
print("num1 = num2" if num1==num2 else print("num1>num2") if num1>num2 else print("num1<num2"))

625 625
num1 = num2

In [75]:
# Q10.A Python NameError exception is raised when: -
# a. Trying to access a variable which has not been defined
# b. Trying to access a key in a dictionary that does not exist
# c. Accessing a column with misspelled column name
# d. Accessing the function from a module that has not been imported

# Correct Answer: d. Accessing the function from a module that has not been imported

In [81]:
# Q11.What type of exception will be raised for the code given below?
# x = "string"
# int(x)
# a. NameError
# b. KeyError
# c. ValueError
# d. AttributeError

# correct answer: c. ValueError

x = "string"
int(x)

ValueError: invalid literal for int() with base 10: 'string'

In [83]:
# Q12.A FileNotFoundError exception is raised by operating system errors when: -
# a. Trying to create a file or directory which already exists
# b. A file or directory is requested but does not exist in the working directory
# c. Trying to run an operation without the adequate access rights
# d. A directory operation, os.listdir() is requested on something which is not a
# directory

# correct answer: b. A file or directory is requested but does not exist in 
# the working directory

In [89]:
# Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
# a. Complex
# b. Character
# c. Integer
# d. Boolean

# correct answer: b. Character or String

z = "ID-5632"
type(z)

str

In [91]:
# Q14.Which of the following variable(s) are character data type?
# a. K= ‚Äú4‚Äù
# b. J= ‚ÄúWelcome‚Äù
# c. L= ‚Äú?‚Äù
# d. All of the above

# correct answer: d. All of the above

In [95]:
# Q15.Choose the symbol/s that does not have the ability to convert 
# any values to string?
# a. ( )
# b. ‚Äú ‚Äù
# c. {}
# d. #

# correct answer: d. #
# because hash (#) is just a comment symbol. it does not convert data types.

In [117]:
# Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries 
# to their capitals respectively:
# 
# Country       India        China       Japan        Qatar        France
# State         Delhi        Beijing     Tokyo        Doha         Marseilles
# 
# Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:


# Answer: 
# 1) country['France']='Paris'
# 2) country.update('France','Paris')


country = {"Country":"State","India":"Delhi", "China":"Beijing", "Japan":"Tokyo", "Qatar":"Doha", "France":"Marseilles"}
print(country)
country['France']="Paris"
print(country)
country.update({"France":"c"})
print(country)

{'Country': 'State', 'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Marseilles'}
{'Country': 'State', 'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}
{'Country': 'State', 'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'c'}

In [127]:
# Q17. Create the tuples given below
# tuple_1 = (1,5,6,7,8)
# tuple_2 = (8,9,4)
# Identify which of the following code does not work on a tuple.
# a. sum(tuple_1)
# b. len(tuple_2)
# c. tuple_2 + tuple_1
# d. tuple_1[3] = 45

# correct answer: d. tuple_1[3] = 45
# because the tuple is immutable

tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

tuple_1[3] = 45

TypeError: 'tuple' object does not support item assignment

In [129]:
# Q18. How many elements in the following data structure?
# s = {1,2,3,4,4,4,5,6}

# correct answer: 6 elements

s = {1,2,3,4,4,4,5,6}
print(s)
print(len(s))

{1, 2, 3, 4, 5, 6}
6

In [147]:
# Q19.Write a function which finds all pythagorean triplets of triangles 
# whose sides are no greater than a natural number n.

def pythagorean_triplets(n):
    lst = []
    for a in range(3, n+1):
        if a%2==1: #odd
            #pass
            mid = a**2 / 2
            b = mid - 0.5
            c = mid + 0.5
        else: #even
            #pass
            mid = (a/2)**2
            b = mid-1
            c = mid+1
            
        if a<n and b<n and c<n:
            lst.append([a,int(b),int(c)])
    return lst

pythagorean_triplets(1000)

[[3, 4, 5],
 [4, 3, 5],
 [5, 12, 13],
 [6, 8, 10],
 [7, 24, 25],
 [8, 15, 17],
 [9, 40, 41],
 [10, 24, 26],
 [11, 60, 61],
 [12, 35, 37],
 [13, 84, 85],
 [14, 48, 50],
 [15, 112, 113],
 [16, 63, 65],
 [17, 144, 145],
 [18, 80, 82],
 [19, 180, 181],
 [20, 99, 101],
 [21, 220, 221],
 [22, 120, 122],
 [23, 264, 265],
 [24, 143, 145],
 [25, 312, 313],
 [26, 168, 170],
 [27, 364, 365],
 [28, 195, 197],
 [29, 420, 421],
 [30, 224, 226],
 [31, 480, 481],
 [32, 255, 257],
 [33, 544, 545],
 [34, 288, 290],
 [35, 612, 613],
 [36, 323, 325],
 [37, 684, 685],
 [38, 360, 362],
 [39, 760, 761],
 [40, 399, 401],
 [41, 840, 841],
 [42, 440, 442],
 [43, 924, 925],
 [44, 483, 485],
 [46, 528, 530],
 [48, 575, 577],
 [50, 624, 626],
 [52, 675, 677],
 [54, 728, 730],
 [56, 783, 785],
 [58, 840, 842],
 [60, 899, 901],
 [62, 960, 962]]