In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.read_csv(r"ALL State ML.csv", encoding='utf-8').columns

Index(['YEAR', 'SEASONCODE', 'SEASONNAME', 'HSEASONNAME', 'SAMPLE',
       'SAMPLENAME', 'HSAMPLENAME', 'STATE', 'STATENAME', 'SHORTSTATE',
       'HSTATENAME', 'ROCODE', 'RONAME', 'HRONAME', 'SROCODE', 'SRONAME',
       'HSRONAME', 'DISTRICT', 'DISTRICTNAME', 'HDISTRICTNAME', 'SELORDER',
       'EXPT', 'CROPCODE', 'CROPNAME', 'HCROPNAME'],
      dtype='object')

In [24]:
# finding state-wise ROs
df = (
    pd
    .read_csv(r"ALL State ML.csv", encoding='utf-8')
    .apply(lambda x : x.str.title() if x.dtype=='object' else x)
    .drop(columns = ['YEAR', 'HSEASONNAME', 'SAMPLE',
       'SAMPLENAME', 'HSAMPLENAME', 'SHORTSTATE',
       'HSTATENAME', 'HRONAME', 'SROCODE', 'SRONAME',
       'HSRONAME', 'HDISTRICTNAME', 'SELORDER',
       'EXPT', 'CROPCODE', 'CROPNAME', 'HCROPNAME'])
    .drop_duplicates()
    .astype({
        'STATE' : 'int16'
        ,'ROCODE' : 'int32'
        ,'DISTRICT' : 'int16'
    })
    .reset_index(drop=True)
    .sort_values(['STATE','ROCODE','DISTRICT'])
)

In [4]:
df.to_csv("State_RO.csv", index=False)

In [5]:
df

,SEASONCODE,SEASONNAME,STATE,STATENAME,ROCODE,RONAME,DISTRICT,DISTRICTNAME
473,1,Kharif,1,Jammu & Kashmir,11,Jammu,9,Doda
474,1,Kharif,1,Jammu & Kashmir,11,Jammu,10,Udhampur
475,1,Kharif,1,Jammu & Kashmir,11,Jammu,11,Poonch
476,1,Kharif,1,Jammu & Kashmir,11,Jammu,12,Rajouri
477,1,Kharif,1,Jammu & Kashmir,11,Jammu,13,Jammu
...,...,...,...,...,...,...,...,...
424,4,Rabi,36,Telangana,361,Hyderabad,30,Suryapet
451,1,Kharif,36,Telangana,361,Hyderabad,30,Suryapet
444,1,Kharif,36,Telangana,361,Hyderabad,31,Khammam
450,4,Rabi,36,Telangana,361,Hyderabad,31,Khammam
445,1,Kharif,36,Telangana,361,Hyderabad,33,Narayanpet

In [57]:
df_state = df.drop(columns=['ROCODE','RONAME','DISTRICT','DISTRICTNAME']).drop_duplicates().sort_values(['STATE']).reset_index(drop=True)

In [58]:
df_state.to_csv("StateCode_State.csv", index=False)

In [59]:
df_RO = df.drop(columns=['STATE','STATENAME','DISTRICT','DISTRICTNAME']).drop_duplicates().sort_values(['ROCODE']).reset_index(drop=True)

In [60]:
df_RO.to_csv("RoCode_RO.csv", index=False)

In [65]:
df_distt = df.drop(columns=['STATENAME','ROCODE','RONAME']).drop_duplicates().sort_values(['STATE','DISTRICT']).reset_index(drop=True)

In [67]:
df_distt.to_csv("DisttCode_Distt.csv", index=False)

In [69]:
df_st_ro = df.drop(columns=['STATENAME','RONAME','DISTRICT','DISTRICTNAME']).drop_duplicates().sort_values(['STATE','ROCODE']).reset_index(drop=True)

In [83]:
d1 = df_st_ro.groupby('STATE')['ROCODE'].apply(list).to_dict()
d

{1: [11, 12],
 2: [21],
 3: [31, 32],
 5: [51],
 6: [61],
 8: [81, 82],
 9: [91, 92, 93, 94],
 10: [101, 102],
 18: [181, 182],
 19: [191, 192, 193],
 20: [201],
 21: [211, 212],
 22: [221],
 23: [231, 232, 233],
 24: [241, 242],
 27: [271, 272, 273, 274],
 28: [281, 282],
 29: [291, 292],
 32: [321, 322],
 33: [331, 332, 333],
 34: [332],
 36: [361]}

In [7]:
df_ro_distt = df.drop(columns=['STATE','STATENAME','RONAME','DISTRICTNAME']).drop_duplicates().sort_values(['ROCODE','DISTRICT']).reset_index(drop=True)

In [89]:
d2 = df_ro_distt.groupby('ROCODE')['DISTRICT'].apply(list).to_dict()
for key,value in d2.items():
    print(f"{key}: {value}")

11: [9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
12: [1, 2, 4, 5, 6, 19, 20, 22]
21: [1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12]
31: [1, 2, 3, 4, 5, 6, 20, 21]
32: [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22, 23]
51: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
61: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
81: [14, 15, 16, 17, 18, 19, 20, 21, 24, 25, 26, 27, 28, 29, 33, 34, 35, 36, 38, 41]
82: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 22, 23, 30, 31, 32, 37, 39, 40]
91: [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 29, 30, 31, 32, 71, 72]
92: [43, 44, 45, 47, 48, 49, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73]
93: [1, 2, 3, 4, 5, 6, 19, 20, 21, 22, 23, 24, 25, 74, 75]
94: [26, 27, 28, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 46, 50, 51, 52, 53]
101: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
102: [22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38]
181: [1, 2, 3, 4, 5, 6, 7, 19, 20, 21, 22, 24, 25, 26, 32, 33]
182: [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 27, 28, 30, 31]
191: [9, 10, 12, 13, 14, 18, 19, 23]
192: [11, 15, 17]
193: [2, 3, 4, 5, 6, 7, 8, 20]
201: [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 24]
211: [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
212: [1, 2, 3, 4, 5, 23, 24, 25, 26, 27, 28, 29, 30]
221: [1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33]
231: [25, 26, 27, 28, 29, 31, 33, 34, 35, 36, 37, 43, 45, 48]
232: [1, 2, 3, 4, 5, 6, 7, 8, 9, 18, 19, 20, 21, 22, 23, 24, 30, 46, 49, 51]
233: [10, 11, 12, 13, 14, 15, 16, 17, 38, 39, 40, 41, 42, 44, 47, 50]
241: [1, 6, 7, 8, 9, 10, 11, 12, 13, 14, 28, 30, 31, 33]
242: [2, 3, 4, 5, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 32]
271: [1, 2, 3, 15, 16, 17, 18, 19, 20, 27, 28]
272: [36]
273: [4, 5, 6, 7, 14]
274: [25, 26, 29, 30, 31, 34, 35]
281: [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 23]
282: [1, 2, 4, 5, 6, 20, 21, 22, 23, 24, 25, 26]
291: [15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29]
292: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 30, 31]
321: [1, 2, 3, 4, 5, 6, 7]
322: [8, 9, 10, 11, 12, 13, 14]
331: [5, 8, 9, 10, 12, 14, 15, 16, 17, 22, 31, 32]
332: [1, 2, 3, 4, 6, 7, 18, 33, 34, 35, 36]
333: [13, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 37, 38]
361: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33]

In [20]:
df_state_season = df.drop(columns=['STATENAME', 'ROCODE', 'RONAME','DISTRICT', 'DISTRICTNAME']).drop_duplicates().sort_values(['STATE','SEASONCODE']).reset_index(drop=True)

In [21]:
df.columns

Index(['SEASONCODE', 'SEASONNAME', 'STATE', 'STATENAME', 'ROCODE', 'RONAME',
       'DISTRICT', 'DISTRICTNAME'],
      dtype='object')

In [22]:
d3 = df_state_season.groupby('STATE')['SEASONCODE'].apply(list).to_dict()
for key,value in d3.items():
    print(f"{key}: {value}")

1: [1]
2: [1, 4]
3: [1]
5: [1, 4]
6: [1]
8: [1]
9: [1]
10: [2, 3, 4, 5]
18: [2, 3, 4, 5]
19: [2, 3, 4, 5]
20: [2, 3]
21: [2, 3, 5]
22: [1, 4]
23: [1, 4]
24: [1]
27: [1]
28: [1, 4]
29: [1]
32: [2, 6]
33: [1, 4]
34: [1, 4, 5]
36: [1, 4]

In [28]:
df_state_distt_name = df.drop(columns=['SEASONCODE', 'SEASONNAME', 'STATENAME','ROCODE', 'RONAME']).drop_duplicates().sort_values(['STATE','DISTRICT']).reset_index(drop=True)

In [47]:
dict_all_state_distt = {}
for state in df_state_distt_name['STATE'].unique():
    df5 = df_state_distt_name[df_state_distt_name['STATE'] == state].drop(columns=['STATE'])
    dict_distt_in_state = {}
    for distt in df5['DISTRICT']:
        dict_distt_in_state[distt] = df5[df5['DISTRICT'] == distt]['DISTRICTNAME'].values[0]
    dict_all_state_distt[state] = dict_distt_in_state
dict_all_state_distt

{1: {1: 'Kupwara',
  2: 'Baramula',
  4: 'Badgam',
  5: 'Pulwama',
  6: 'Anantnag',
  9: 'Doda',
  10: 'Udhampur',
  11: 'Poonch',
  12: 'Rajouri',
  13: 'Jammu',
  14: 'Kathua',
  15: 'Samba',
  16: 'Kishtwar',
  17: 'Reasi',
  18: 'Ramban',
  19: 'Ganderbal',
  20: 'Kulgam',
  22: 'Bandipora'},
 2: {1: 'Chamba',
  2: 'Kangra',
  4: 'Kullu',
  5: 'Mandi',
  6: 'Hamirpur',
  7: 'Una',
  8: 'Bilaspur',
  9: 'Solan',
  10: 'Sirmaur',
  11: 'Shimla',
  12: 'Kinnour'},
 3: {1: 'Gurdaspur',
  2: 'Amritsar',
  3: 'Kapurthala',
  4: 'Jalandhar',
  5: 'Hoshiarpur',
  6: 'Sbs Nagar',
  7: 'Ropar',
  8: 'Fatehgarh Sahib',
  9: 'Ludhiana',
  10: 'Moga',
  11: 'Ferozpur',
  12: 'Mukatsar',
  13: 'Faridkot',
  14: 'Bhatinda',
  15: 'Mansa',
  16: 'Sangrur',
  17: 'Patiala',
  18: 'Mohali',
  19: 'Barnala',
  20: 'Tarn Taran',
  21: 'Pathankot',
  22: 'Fazilka',
  23: 'Malerkotla'},
 5: {1: 'Uttarkashi',
  2: 'Chamoli',
  3: 'Rudraprayag',
  4: 'Tehrigarhwal',
  5: 'Dehradun(Plains)',
  6: 'Pourigarhwal',
  7: 'Pithoragarh',
  8: 'Champawat',
  9: 'Almora',
  10: 'Bageshwar',
  11: 'Nainital(Plains)',
  12: 'Udhamsinghnagar',
  13: 'Haridwar',
  14: 'Nainital(Hills)',
  15: 'Dehradun(Hills)'},
 6: {1: 'Panchkula',
  2: 'Ambala',
  3: 'Yamunanagar',
  4: 'Kurukshetra',
  5: 'Kaithal',
  6: 'Karnal',
  7: 'Panipat',
  8: 'Sonepat',
  9: 'Jind',
  10: 'Fatehabad',
  11: 'Sirsa',
  12: 'Hisar',
  13: 'Bhiwani',
  14: 'Rohtak',
  15: 'Jhajjar',
  16: 'Mahendergarh',
  17: 'Rewari',
  18: 'Gurugram',
  19: 'Faridabad',
  20: 'Mewat',
  21: 'Palwal',
  22: 'Charki Dadri'},
 8: {1: 'Sri Ganganagar',
  2: 'Hanumangarh',
  3: 'Bikaner',
  4: 'Churu',
  5: 'Jhunjhunu',
  6: 'Alwar',
  7: 'Bharatpur',
  8: 'Dholpur',
  9: 'Karauli',
  10: 'Sawai Madhopur',
  11: 'Dausa',
  12: 'Jaipur ',
  13: 'Sikar',
  14: 'Nagaur',
  15: 'Jodhpur',
  16: 'Jaisalmer',
  17: 'Barmer',
  18: 'Jalore',
  19: 'Sirohi',
  20: 'Pali',
  21: 'Ajmer',
  22: 'Tonk',
  23: 'Bundi',
  24: 'Bhilwara',
  25: 'Rajsamand',
  26: 'Udaipur',
  27: 'Dungarpur',
  28: 'Banswara',
  29: 'Chittorgarh',
  30: 'Kota',
  31: 'Baran',
  32: 'Jhalawar',
  33: 'Pratapgarh',
  34: 'Balotra',
  35: 'Beawar',
  36: 'Deedvana And Kuchamn',
  37: 'Deeg',
  38: 'Phalodi',
  39: 'Khairthal-Tizara',
  40: 'Kotputli-Behror',
  41: 'Salumbar'},
 9: {1: 'Saharanpur',
  2: 'Muzaffarnagar',
  3: 'Bijnor',
  4: 'Moradabad',
  5: 'Rampur',
  6: 'J. P. Nagar',
  7: 'Meerut',
  8: 'Bagpat',
  9: 'Ghaziabad',
  10: 'G.B. Nagar ',
  11: 'Bulandsehar',
  12: 'Aligarh',
  13: 'Mahamaya Nagar',
  14: 'Mathura',
  15: 'Agra',
  16: 'Firozabad',
  17: 'Etah',
  18: 'Mainpuri',
  19: 'Badaun',
  20: 'Bareilly',
  21: 'Pilibhit',
  22: 'Shahjahanpur',
  23: 'Khiri',
  24: 'Sitapur',
  25: 'Hardoi',
  26: 'Unnao',
  27: 'Lucknow',
  28: 'Raibareilly',
  29: 'Farrukhabad',
  30: 'Kannauj',
  31: 'Etawah',
  32: 'Auraiya',
  33: 'Kanpur Dehat',
  34: 'Kanpur Nagar',
  35: 'Jalaun',
  36: 'Jhansi',
  37: 'Lalitpur',
  38: 'Hamirpur',
  39: 'Mahoba',
  40: 'Banda',
  41: 'Chitrakoot',
  42: 'Fatehpur',
  43: 'Pratapgarh',
  44: 'Kaushambi',
  45: 'Prayagraj',
  46: 'Barabanki',
  47: 'Faizabad',
  48: 'Ambedkar Nagar',
  49: 'Sultanpur',
  50: 'Bahraich',
  51: 'Shrawasti',
  52: 'Balrampur',
  53: 'Gonda',
  54: 'Siddarthnagar',
  55: 'Basti',
  56: 'Sant Kabir Nagar',
  57: 'Maharajganj',
  58: 'Gorakhpur',
  59: 'Kushinagar',
  60: 'Deoria',
  61: 'Azamgarh',
  62: 'Mau',
  63: 'Baliya',
  64: 'Jaunpur',
  65: 'Ghazipur',
  66: 'Chandauli',
  67: 'Varanasi',
  68: 'Sant Ravidas Nagar',
  69: 'Mirzapur',
  70: 'Sonbhadra',
  71: 'Kasganj',
  72: 'Hapur',
  73: 'Amethi',
  74: 'Sambhal',
  75: 'Shamli'},
 10: {1: 'W. Champaran',
  2: 'E.Champaran',
  3: 'Sheohar',
  4: 'Sitamarhi',
  5: 'Madhubani',
  6: 'Supaul',
  7: 'Araria',
  8: 'Kishanganj',
  9: 'Purnia',
  10: 'Katihar',
  11: 'Madhepura',
  12: 'Saharsa',
  13: 'Darbhanga',
  14: 'Muzaffarpur',
  15: 'Gopalganj',
  16: 'Siwan',
  17: 'Saran',
  18: 'Vaishali',
  19: 'Samastipur',
  20: 'Begusarai',
  21: 'Khagaria',
  22: 'Bhagalpur',
  23: 'Banka',
  24: 'Munger',
  25: 'Lakhisarai',
  26: 'Shekhpura',
  27: 'Nalanda',
  28: 'Patna',
  29: 'Bhojpur',
  30: 'Buxar',
  31: 'Bhabhua',
  32: 'Rohtash',
  33: 'Jehanabad',
  34: 'Aurangabad',
  35: 'Gaya',
  36: 'Nawada',
  37: 'Jamuai',
  38: 'Arwal'},
 18: {1: 'Kokrajhar',
  2: 'Dhubri',
  3: 'Goalpara',
  4: 'Bongaigaon',
  5: 'Barpeta',
  6: 'Kamrup®',
  7: 'Nalbari',
  8: 'Darrang',
  9: 'Morigaon',
  10: 'Nagaon',
  11: 'Sonitpur',
  12: 'Lakhimpur',
  13: 'Dhemaji',
  14: 'Tinsukia',
  15: 'Dibrugarh',
  16: 'Sivasagar',
  17: 'Jorhat',
  18: 'Golaghat',
  19: 'Karbianglong',
  20: 'Dimo Hasao',
  21: 'Cachar',
  22: 'Karimganj',
  24: 'Chirang',
  25: 'Baksa',
  26: 'Kamrup(M)',
  27: 'Udalguri',
  28: 'Biswanath',
  30: 'Majuli',
  31: 'Hojai',
  32: 'West Karbianglong',
  33: 'South Salmara'},
 19: {2: 'Jalpaiguri',
  3: 'Coochbihar',
  4: 'Uttar Dinajpur',
  5: 'Dakshin Dinajpur',
  6: 'Maldah',
  7: 'Murshidabad',
  8: 'Birbhum',
  9: 'Barddhaman (East)',
  10: 'Nadia',
  11: '24 Pargana( N)',
  12: 'Hoogly',
  13: 'Bankura',
  14: 'Purulia',
  15: 'Howrah',
  17: '24 Pargana (S)',
  18: 'Medinipur (W)',
  19: 'Medinipur (E)',
  20: 'Alipurduar',
  23: 'Jhargram'},
 20: {1: 'Garhwa',
  2: 'Palamu',
  3: 'Chatra',
  4: 'Hazaribagh',
  6: 'Giridih',
  7: 'Deoghar',
  8: 'Godda',
  9: 'Sahebganj',
  10: 'Pakud',
  11: 'Dumka',
  12: 'Dhanbad',
  13: 'Bokaro',
  14: 'Ranchi',
  15: 'Lohardaga',
  16: 'Gumla',
  17: 'W.Singhbhum',
  18: 'E. Singhbhum',
  19: 'Latehar',
  20: 'Simdega',
  21: 'Jamtara',
  24: 'Khunti'},
 21: {1: 'Bargarh',
  2: 'Jharsuguda',
  3: 'Sambalpur',
  4: 'Deogarh',
  5: 'Sundargarh',
  6: 'Keonjhar',
  7: 'Mayurbhanj',
  8: 'Baleshwar',
  9: 'Bhadrak',
  10: 'Kendrapada',
  11: 'Jagatsinghpur',
  12: 'Cuttack',
  13: 'Jajpur',
  14: 'Dhankenal',
  15: 'Angul',
  16: 'Nayagarh',
  17: 'Khurda',
  18: 'Puri',
  19: 'Ganjam',
  20: 'Gajapati',
  21: 'Kandhamal',
  22: 'Boudha',
  23: 'Subarnapur',
  24: 'Bolangir',
  25: 'Nuapada',
  26: 'Kalahandi',
  27: 'Rayagada',
  28: 'Nawrangpur',
  29: 'Koraput',
  30: 'Malkangiri'},
 22: {1: 'Korea',
  2: 'Sarguja',
  3: 'Jashpur',
  4: 'Raigarh',
  5: 'Korba',
  7: 'Bilaspur',
  8: 'Kabirdham',
  9: 'Rajnandgaon',
  10: 'Durg',
  11: 'Raipur',
  12: 'Mahasamund',
  13: 'Dhamtri',
  14: 'Kanker',
  15: 'Baster',
  16: 'Dantewara',
  19: 'Sukma',
  20: 'Kondan Gaon',
  21: 'Baloda Bazar',
  22: 'Gariyaband',
  23: 'Bemetara',
  24: 'Balod',
  25: 'Mungeli',
  26: 'Surajpur',
  27: 'Balrampur',
  28: 'Mc Bharatpur',
  29: 'S Bilaigarh',
  31: 'Gorela Pendra',
  32: 'Kc Gandai',
  33: 'Mm Ambagarh Chowki'},
 23: {1: 'Seopur',
  2: 'Murena',
  3: 'Bhind',
  4: 'Gwalior',
  5: 'Datia',
  6: 'Shivpuri',
  7: 'Guna',
  8: 'Tikamgarh',
  9: 'Chhatarpur',
  10: 'Panna',
  11: 'Sagar',
  12: 'Damoh',
  13: 'Satna',
  14: 'Rewa',
  15: 'Umaria',
  16: 'Shahdol',
  17: 'Sidhi',
  18: 'Neemuch',
  19: 'Mandsaur',
  20: 'Ratlam',
  21: 'Ujjain',
  22: 'Shajapur',
  23: 'Dewas',
  24: 'Jhabua',
  25: 'Dhar',
  26: 'Indore',
  27: 'Khargone',
  28: 'Barwani',
  29: 'Khandwa',
  30: 'Rajgarh',
  31: 'Vidisha',
  33: 'Sehore',
  34: 'Raisen',
  35: 'Betul',
  36: 'Harda',
  37: 'Hoshangabad',
  38: 'Katni',
  39: 'Jabalpur',
  40: 'Narsinghpur',
  41: 'Dindori',
  42: 'Mandla',
  43: 'Chhindwara',
  44: 'Seoni',
  45: 'Balaghat',
  46: 'Ashok Nagar',
  47: 'Anup Pur',
  48: 'Burhanpur',
  49: 'Alirajpur',
  50: 'Singrauli',
  51: 'Agar Malwa'},
 24: {1: 'Kachchh',
  2: 'Banaskantha',
  3: 'Patan',
  4: 'Mehsana',
  5: 'Sabarkantha',
  6: 'Gandhinagar',
  7: 'Ahmedabad',
  8: 'Surendranagar',
  9: 'Rajkot',
  10: 'Jamnagar',
  11: 'Porbandar',
  12: 'Junagadh',
  13: 'Amreli',
  14: 'Bhavnagar',
  15: 'Anand',
  16: 'Kheda',
  17: 'Panchmahal',
  18: 'Dohad',
  19: 'Vadodara',
  20: 'Narmada',
  21: 'Bharuch',
  22: 'Surat',
  23: 'Dangs',
  24: 'Navsari',
  25: 'Valsad',
  26: 'Tapi',
  27: 'Arvalli',
  28: 'Botad',
  29: 'Chhota\nUdepur',
  30: 'Devbhumi Dwarka',
  31: 'Gir Somnath',
  32: 'Mahisagar',
  33: 'Morbi'},
 27: {1: 'Nandurbar',
  2: 'Dhule',
  3: 'Jalgaon',
  4: 'Buldhana',
  5: 'Akola',
  6: 'Wasim',
  7: 'Amravati',
  14: 'Yeotmal',
  15: 'Nanded',
  16: 'Hingoli',
  17: 'Parbhani',
  18: 'Jalna',
  19: 'C S Nagar',
  20: 'Nasik',
  25: 'Pune',
  26: 'Ahilyanagar',
  27: 'Beed',
  28: 'Latur',
  29: 'Dharashiv',
  30: 'Solapur',
  31: 'Satara',
  34: 'Kolhapur',
  35: 'Sangali',
  36: 'Palghar'},
 28: {1: 'Srikakulam',
  2: 'Vizianagaram',
  4: 'East Godavari',
  5: 'West Godavari',
  6: 'Krishna',
  7: 'Guntur',
  8: 'Prakasam',
  9: 'S.P.S.Nellore',
  10: 'Y.S.R.District',
  11: 'Kurnool',
  12: 'Anathapuram',
  13: 'Chittoor',
  14: 'Palnadu',
  15: 'Baptla',
  16: 'Tirupati',
  17: 'Annamayya',
  18: 'Nandyala',
  19: 'Sri Satya Sai',
  20: 'Alluri Seetha Ramaraju',
  21: 'Nandyala',
  22: 'Ntr',
  23: 'Palnadu',
  24: 'Kakinada',
  25: 'Parvathipuram Manyam',
  26: 'Ntr'},
 29: {1: 'Belgavi',
  2: 'Bagalkot',
  3: 'Vijayapura',
  4: 'Kalaburgi',
  5: 'Bidar',
  6: 'Raichur',
  7: 'Koppal',
  8: 'Gadag',
  9: 'Dharwad',
  10: 'Uttara Kannada',
  11: 'Haveri',
  12: 'Bellary',
  13: 'Chitradurga',
  14: 'Davanagere',
  15: 'Shivamogga',
  16: 'Udupi',
  17: 'Chickmagaluru',
  18: 'Tumakuru',
  19: 'Kolar',
  21: 'Bengaluru(R)',
  22: 'Mandya',
  23: 'Hassan',
  24: 'Dakshina Kannada',
  25: 'Kodagu',
  26: 'Mysuru',
  27: 'Chamarajanagar',
  28: 'Ramnagara',
  29: 'Chikkaballapura',
  30: 'Yadgir',
  31: 'Vijayanagara'},
 32: {1: 'Kasargod',
  2: 'Kannur',
  3: 'Wayanad',
  4: 'Kozhikode',
  5: 'Malapuram',
  6: 'Palakkad',
  7: 'Thrissur',
  8: 'Ernakulam',
  9: 'Idukki',
  10: 'Kottayam',
  11: 'Alappuzha',
  12: 'Pathanamthitta',
  13: 'Kollam',
  14: 'Thiruvananthapuram'},
 33: {1: 'Thiruvallur',
  3: 'Kancheepuram',
  4: 'Vellore',
  5: 'Dharmapuri',
  6: 'Thiruvannamalai',
  7: 'Villupuram',
  8: 'Salem',
  9: 'Namakkal',
  10: 'Erode',
  12: 'Coimbatore',
  13: 'Dindigul',
  14: 'Karur',
  15: 'Tiruchirapalli',
  16: 'Perambalur',
  17: 'Ariyalur',
  18: 'Cuddalore',
  19: 'Nagapattinam',
  20: 'Thiruvarur',
  21: 'Thanjavur',
  22: 'Pudukottai',
  23: 'Sivagangai',
  24: 'Madurai',
  25: 'Theni',
  26: 'Virudhunagar',
  27: 'Ramanathapuram',
  28: 'Thoothukudi',
  29: 'Tirunelveli',
  30: 'Kanyakumari',
  31: 'Krishnagiri',
  32: 'Thiruppur',
  33: 'Chengalpattu',
  34: 'Kallakurichi',
  35: 'Ranipet',
  36: 'Tirupathur',
  37: 'Tenkasi',
  38: 'Myladuthurai'},
 34: {2: 'Puducherry', 4: 'Karaikal'},
 36: {1: 'Adilabad',
  2: 'Komaram Bheem',
  3: 'Mancherial',
  4: 'Nirmal',
  5: 'Nizamabad',
  6: 'Jagtial',
  7: 'Peddapalli',
  8: 'Jayashankar',
  9: 'Bhadradri',
  10: 'Mahabubabad',
  11: 'Warangal Rural',
  12: 'Hanumakonda',
  13: 'Karimnagar',
  14: 'Rajanna',
  15: 'Kamareddy',
  16: 'Sangareddy',
  17: 'Medak',
  18: 'Siddipet',
  19: 'Jangaon',
  20: 'Yadadri',
  23: 'Rangareddy',
  24: 'Vikarabad',
  25: 'Mahbubnagar',
  26: 'Jogulamba',
  27: 'Wanaparthy',
  28: 'Nagarkurnool',
  29: 'Nalgonda',
  30: 'Suryapet',
  31: 'Khammam',
  33: 'Narayanpet'}}

In [46]:
df5[df5['DISTRICT'] == 1]['DISTRICTNAME'].values[0]

'Adilabad'

In [48]:
df

,SEASONCODE,SEASONNAME,STATE,STATENAME,ROCODE,RONAME,DISTRICT,DISTRICTNAME
473,1,Kharif,1,Jammu & Kashmir,11,Jammu,9,Doda
474,1,Kharif,1,Jammu & Kashmir,11,Jammu,10,Udhampur
475,1,Kharif,1,Jammu & Kashmir,11,Jammu,11,Poonch
476,1,Kharif,1,Jammu & Kashmir,11,Jammu,12,Rajouri
477,1,Kharif,1,Jammu & Kashmir,11,Jammu,13,Jammu
...,...,...,...,...,...,...,...,...
424,4,Rabi,36,Telangana,361,Hyderabad,30,Suryapet
451,1,Kharif,36,Telangana,361,Hyderabad,30,Suryapet
444,1,Kharif,36,Telangana,361,Hyderabad,31,Khammam
450,4,Rabi,36,Telangana,361,Hyderabad,31,Khammam
445,1,Kharif,36,Telangana,361,Hyderabad,33,Narayanpet

In [50]:
df_state_season_name = df.drop(columns=['STATENAME','ROCODE','RONAME','DISTRICT','DISTRICTNAME']).drop_duplicates().sort_values(['STATE','SEASONCODE']).reset_index(drop=True)
dict_all_state_season = {}
for state in df_state_season_name['STATE'].unique():
    df6 = df_state_season_name[df_state_season_name['STATE'] == state].drop(columns=['STATE'])
    dict_season_in_state = {}
    for season in df6['SEASONCODE']:
        dict_season_in_state[season] = df6[df6['SEASONCODE'] == season]['SEASONNAME'].values[0]
    dict_all_state_season[state] = dict_season_in_state
dict_all_state_season

{1: {1: 'Kharif'},
 2: {1: 'Kharif', 4: 'Rabi'},
 3: {1: 'Kharif'},
 5: {1: 'Kharif', 4: 'Rabi'},
 6: {1: 'Kharif'},
 8: {1: 'Kharif'},
 9: {1: 'Kharif'},
 10: {2: 'Bhadai', 3: 'Aghani', 4: 'Rabi', 5: 'Summer'},
 18: {2: 'Early Kharif', 3: 'Late Kharif', 4: 'Rabi', 5: 'Summer'},
 19: {2: 'Early Kharif', 3: 'Late Kharif', 4: 'Rabi', 5: 'Summer'},
 20: {2: 'Bhadai', 3: 'Agahani'},
 21: {2: 'Autumn', 3: 'Winter', 5: 'Summer'},
 22: {1: 'Kharif', 4: 'Rabi'},
 23: {1: 'Kharif', 4: 'Rabi'},
 24: {1: 'Kharif'},
 27: {1: 'Kharif'},
 28: {1: 'Kharif', 4: 'Rabi'},
 29: {1: 'Kharif'},
 32: {2: 'Autumn', 6: 'Whole Year'},
 33: {1: 'Kharif', 4: 'Rabi'},
 34: {1: 'Kharif', 4: 'Rabi-I', 5: 'Rabi-Ii'},
 36: {1: 'Kharif', 4: 'Rabi'}}