In [16]:
import numpy as np
import pandas as pd
import pyodbc
import sys
import time
import re
import warnings as wr
wr.filterwarnings('ignore')

In [5]:
#for 2025-26, year=2025
year = 2025

In [48]:
yr = year - 2001
mdb_path = r"C:/ICS_Scheme/AS2.0/AS"+str(year)+"/NSSAS"+str(year)+".mdb"

#create connection with mdb database
conn_str = (
    r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
    f'DBQ={mdb_path};'
)
conn = pyodbc.connect(conn_str)

#get all table names from mdb database
#### cursor = conn.cursor()
#### for row in cursor.tables(tableType='TABLE'):
####     print(row.table_name)
#### cursor.close()

#get data from the table - EXPTMASTER
sql_query = "SELECT * FROM EXPTMASTER"
df_ML = pd.read_sql(sql_query, conn)

#get data from the table - Sch20RC7
sql_query = "SELECT * FROM Sch20RC7"
df_sch = (
    pd
    .read_sql(sql_query, conn)
)

conn.close()

In [49]:
df_ML.drop(columns=[''])

,YEAR,SEASONCODE,SEASONNAME,HSEASONNAME,SAMPLE,SAMPLENAME,HSAMPLENAME,STATE,STATENAME,SHORTSTATE,...,SELORDER,EXPT,CROPCODE,CROPNAME,HCROPNAME,STATUS,EXPTID,PRTID,F29,F30
0,2025-26,1,KHARIF,खरीफ,1,CENTRAL,केन्द्रीय,33,Tamil Nadu,TN,...,01,1,1400,SUGARCANE,गन्ना,None,133010114001,C1TN01SUGARCANE0112025-26,None,None
1,2025-26,1,KHARIF,खरीफ,1,CENTRAL,केन्द्रीय,33,Tamil Nadu,TN,...,01,2,1400,SUGARCANE,गन्ना,None,133010114002,C1TN01SUGARCANE0122025-26,None,None
2,2025-26,4,RABI,रबी,1,CENTRAL,केन्द्रीय,33,Tamil Nadu,TN,...,01,1,1612,GROUNDNUT_IR,मूँगफली-सिंचित,None,133010116121,C4TN01GROUNDNUT_IR0112025-26,None,None
3,2025-26,4,RABI,रबी,1,CENTRAL,केन्द्रीय,33,Tamil Nadu,TN,...,01,2,1612,GROUNDNUT_IR,मूँगफली-सिंचित,None,133010116122,C4TN01GROUNDNUT_IR0122025-26,None,None
4,2025-26,4,RABI,रबी,1,CENTRAL,केन्द्रीय,33,Tamil Nadu,TN,...,01,1,3712,GREENGRAM_IR,मूँग-सिंचित,None,133010137121,C4TN01GREENGRAM_IR0112025-26,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2035,2025-26,4,RABI-I,रबी-I,2,STATE,राज्य,34,PUDUCHERRY,PY,...,01,2,9700,PADDY_II,धान-II,None,234040197002,S4PY04PADDY_II0122025-26,None,None
2036,2025-26,1,KHARIF,खरीफ,2,STATE,राज्य,34,PUDUCHERRY,PY,...,02,1,0100,PADDY_I,धान-I,None,234040201001,S1PY04PADDY_I0212025-26,None,None
2037,2025-26,1,KHARIF,खरीफ,2,STATE,राज्य,34,PUDUCHERRY,PY,...,02,2,0100,PADDY_I,धान-I,None,234040201002,S1PY04PADDY_I0222025-26,None,None
2038,2025-26,4,RABI-I,रबी-I,2,STATE,राज्य,34,PUDUCHERRY,PY,...,02,1,9700,PADDY_II,धान-II,None,234040297001,S4PY04PADDY_II0212025-26,None,None
2039,2025-26,4,RABI-I,रबी-I,2,STATE,राज्य,34,PUDUCHERRY,PY,...,02,2,9700,PADDY_II,धान-II,None,234040297002,S4PY04PADDY_II0222025-26,None,None