In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df = pd.read_csv("Cricket.csv", encoding = "latin")

In [13]:
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28

In [15]:
df.isnull().sum()

Player    0
Span      0
Mat       0
Inns      0
NO        0
Runs      0
HS        0
Ave       0
BF        0
SR        0
100       0
50        0
0         0
dtype: int64

In [17]:
df.duplicated().sum()

0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  79 non-null     object
 1   Span    79 non-null     object
 2   Mat     79 non-null     int64
 3   Inns    79 non-null     int64
 4   NO      79 non-null     int64
 5   Runs    79 non-null     int64
 6   HS      79 non-null     object
 7   Ave     79 non-null     float64
 8   BF      79 non-null     int64
 9   SR      79 non-null     float64
 10  100     79 non-null     int64
 11  50      79 non-null     int64
 12  0       79 non-null     int64
dtypes: float64(2), int64(8), object(3)
memory usage: 8.2+ KB

In [27]:
df['HS'] = df['HS'].str.replace('*', '')

In [35]:
df['HS']=pd.to_numeric(df['HS'])
df['HS']=pd.

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  79 non-null     object
 1   Span    79 non-null     object
 2   Mat     79 non-null     int64
 3   Inns    79 non-null     int64
 4   NO      79 non-null     int64
 5   Runs    79 non-null     int64
 6   HS      79 non-null     int64
 7   Ave     79 non-null     float64
 8   BF      79 non-null     int64
 9   SR      79 non-null     float64
 10  100     79 non-null     int64
 11  50      79 non-null     int64
 12  0       79 non-null     int64
dtypes: float64(2), int64(9), object(2)
memory usage: 8.2+ KB